/ = debug @boxCategories
.row
  .col-md-2.pull-right{:style => "text-align: right;"}
    %p
      Batch:
      = @batches[0].batch_key
- @boxCategories.each do |box|
  .row.search-product
    .row
      / .col-md-12{:style => "text-align: center;"}
      %h3=box[:category_name]

      / - stats = JSON.parse(batch.batch_stats)
      / / = debug stats
      / - stats.each do |stat|
      /   .col-md-12
      /     %dt= stat['type']
      /     %dd= "Brand Name: #{batch.brand}"
      /     %dd= "Colour: #{batch.colour}"

      %table.table.table-hover
        %tr.table-heading
          %td Size
          - box[:stats].each do |stat|
            %td{style:"text-align:center;"}
              = stat[:product_name]
              - if @batches[0].is_auto
                %br
                = "https://fantees.com.au/#{stat[:slug]}"
          %td Total Sold
        - allTotal =0
        - box[:allSizes].each do |nsize|
          - allTotal =0
          %tr
            %td= nsize

            - singleTotal = 0
            - box[:stats].each do |stat|
              - atotal = 0

              - stat[:sizes].each do |size|
                - allTotal += size['sold'].to_i + size['extra']
                - if size['name'] == nsize
                  - atotal = size['sold'].to_i + size['extra'].to_i
                  - singleTotal += size['sold'].to_i + size['extra']

              %td= atotal
            %td= singleTotal
        %tr
          %td{:align => "left", :colspan => "#{box[:stats].length+1}"}
            %strong Total
          %td
            %strong= allTotal




