


.container
  .row

    %h2.heading1{:style => "text-align:center"}
      Express Post Record


  .row
    .col-md-6{:style => "width: 50%; float:left;"}
      %p.text-left{:style => "text-align:left"}
        ITEM : #{@product.title}

    .col-md-6.text-right{:style => "width: 50%; float:right;"}
      %p{:style => "text-align:right"}
        DATE:
        = Date.today.strftime("%m/%d/%Y")


    .div{:style => "clear: both;"}

.container
  .row
    .col-md-12
      %table.table.table-bordered
        %thead

        %tbody

          - @orders.each do |order|
            - shipping_info = JSON.parse(order.shipping_info)
            %tr
              %td{:style => "padding:16px 0px 16px 10px !important;"}
                = shipping_info['Name']
              %td{:style => "padding:16px 0px 16px 10px !important;"}
                = order.order_id
              %td{:style => "width: 45%; padding:16px 0px 16px 10px !important;"}
                &nbsp;


.container
  .row
    #line_items
      &nbsp;




