.container
  .row
    %h2.heading1{:style => "text-align:center"}
      #{@product.title}

  .row
    - @stats.each do |stat|
      %h4
        = stat[:type]
      %p
        - unless stat[:brand].nil?
          = "Brand: #{stat[:brand][:name]}"
        - else
          Brand :
        %br
        - unless stat[:item_color].nil?
          = "Colour: #{stat[:item_color][:name]}"
        - else
          Colour:
        %br
        = "Print Colors: #{stat[:print_colors]}"

      %p
        - total = 0
        - stat[:sizes].each do |size|
          - total += size[:sold].to_i
          / - total += size[:sold].to_i + size[:extra].to_i
          ="#{size[:name]} = #{size[:sold].to_i}"
          %br

        %br
        = "Total: #{total}"

/       %table
/         %tr
/           %th Size
/           %th Sold
/           %th Extra
/         - total_sold  = 0
/         - total_extra = 0
/         - stat[:sizes].each do |size|
/           - total_sold  += size[:sold].to_i
/           - total_extra += size[:extra].to_i
/           %tr
/             %td
/               = size[:name]
/             %td
/               = size[:sold]
/             %td
/               = size[:extra]
/         %tr
/           %td Total
/           %td
/             = total_sold
/           %td
/             = total_extra
