.row.search-product
  / row
  / %h2 Order Search
  / %form
  /   .col-md-3
  /     %input{:name => "name", :placeholder => "Name", :type => "text", :'ng-model' => "search.name", :'ng-blur' => "runSearch()"}
  /   .col-md-3
  /     %input#dp3{"data-date-format" => "mm/dd/yy", :type => "date", :value => "", :placeholder => "Enter Date", :'ng-model' => "search.date"}
  /   .col-md-3
  /     %select#e3
  /       %option{:value => "default"} Product Type
  /       %option{:value => "test"} Test
  /   .col-md-3
  /     %input{:name => "name", :placeholder => "Search", :type => "search", :'ng-model' => "search.keyword"}
  /       %input{:name => "name", :type => "submit", :value => ""}
  / %p &nbsp;
  %h2 Recent Orders
  .table-responsive
    %table.table.table-hover{:bordercolor => "#ecf0f1"}
      %tr.table-heading
        %td Order ID
        %td Product Name
        %td Order total
        %td Printed
        %td Shipped
        %td Option
      %tr{:'ng-repeat' => "order in orders"}
        %td.order-table-id {{order.order_id}}
        %td {{order.product_title}}
        %td {{order.order_total | currency:"$"}}
        %td {{order.is_printed()}}
        %td {{order.is_shipped()}}
        %td{:align => "center"}
          %a{:'ng-click' => "show(order)", :style => "cursor: pointer"} View

  .clearfix
