!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
		%title Howd we do
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
	%body{style:"margin:0;"}
		%table{width:"620", border:"0", cellspacing:"0", cellpadding:"0", style:"margin:0 auto;display:block; font-family:Arial, Helvetica !important;"}
			%tr
				%td
					
					%table{cellspacing:"0", cellpadding:"0", width:"600", border:"0", style:"margin: 0 auto; display:block;background:#304055;padding:10px;"}
						%tbody
							%tr
								%td{style:"width: 30%;"}
									%a{href:"#"}
										%img{src:"https://d2worlu18991dl.cloudfront.net/assets/logo-a72a78623c4c9f263b996f2f4cc0c9e7.png"}
								%td{style:"width:55%;"}
									%span{style:"color:#fff; font-family:Arial, Helvetica, sans-serif; font-weight:bold; float:right; margin: 7px 0 0;"} QUESTION? SPEAK TO US 1300 76 65 67

					%div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px 15px; border-bottom:1px solid #e2e5e7;"}
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
							= "Hey #{@user.first_name},"
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} So fingers crossed by now you've been able to make use of your new FanTees gear :)
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} If so, we'd love to know how we did...
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} ...Is the quality like you expected, how was the sizing etc etc. For us, we know that the only way we can improve everything we do is by knowing how we did.
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} If you think there was something we could have done better at any stage of your dealings with us then we want to know so we can improve and better what we do.
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} And if you just reply and give us any feedback at all (good or bad) we've got a little something just for you...
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
							= "Thanks #{@user.first_name}!"
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
							= "-Adrienne"
							%br
							Head of Customer WOW
							%br
							FanTees.com.au

					%table{cellspacing:"0", cellpadding:"0", width:"620", border:"0", style:"margin: 0 auto; display:block;background:#000;padding:10px 0;"}
						%tbody
							%tr
								%td{width:"80", height:"40", align:"right", valign:"middle"}
									%a{target:"_blank", href:"https://www.facebook.com/fanteesau"}
										%img{src:"https://s3.amazonaws.com/ftemail/facebook-36x36.png", style:"vertical-align: middle; margin-right: 5px; border:1px solid #000 ;border-radius: 50%"}
								%td{width:"80", height:"40", align:"left", valign:"middle"}
									%a{target:"_blank", href:"https://www.facebook.com/fanteesau", style:"color:#fff; text-decoration: none;"} Facebook
								%td{width:"80", height:"40", align:"right", valign:"middle"}
									%a{target:"_blank", href:"http://instagram.com/fanteesau"}
										%img{src:"https://s3.amazonaws.com/ftemail/instagram-36x36.png", style:"vertical-align: middle; margin-right: 5px; border:1px solid #000 ;border-radius: 50%"}
								%td{width:"80", height:"40", align:"left", valign:"middle"}
									%a{target:"_blank", href:"http://instagram.com/fanteesau", style:"color:#fff; text-decoration: none;"} Instagram
								%td{width:"80", height:"40", align:"right", valign:"middle"}
									%a{target:"_blank", href:"https://twitter.com/fanteesau"}
										%img{src:"https://s3.amazonaws.com/ftemail/twitter-36x36.png", style:"vertical-align: middle; margin-right: 5px; border:1px solid #000 ;border-radius: 50%"}
								%td{width:"80", height:"40", align:"left", valign:"middle"}
									%a{target:"_blank", href:"https://twitter.com/fanteesau", style:"color:#fff; text-decoration: none;"} Twitter
								%td{width:"80", height:"40", align:"right", valign:"middle"}
									%a{target:"_blank", href:"https://fantees.com.au/"}
										%img{src:"https://s3.amazonaws.com/ftemail/shop-36x36.png", style:"vertical-align: middle; margin-right: 5px; border:1px solid #000 ;border-radius: 50%"}
								%td{width:"80", height:"40", align:"left", valign:"middle"}
									%a{target:"_blank", href:"https://fantees.com.au/", style:"color:#fff; text-decoration: none;"} Shop

					%div{style:"clear:both;"}

					%div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px; background:#334056; text-align:center; color:#fff; font-size:12px;"}
						%p{style:"margin:0; font-family: 'Lato', sans-serif; font-weight:bold;"} 
							Call Us 1300 76 65 67
							= "  |  "
							%a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} 
								Email Us
							= "  |  "
							%a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"}
								Support
							= "  |  "
							%a{href:"https://fantees.com.au/dashboard", style:"color:#fff; text-decoration:underline;"} 
								Track Your Orders
						%p{style:"font-family:Arial, Helvetica, sans-serif; margin:10px 0;"} &copy; 2014 FanTees PTY LTD