!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Arrived
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body{style:"margin:0;"}
    %table{width:"620", border:"0", cellspacing:"0", cellpadding:"0", style:"margin:0 auto;display:block; font-family:Arial, Helvetica, sans-serif;"}
      %tr
        %td
          
          %div{style:"max-width:580px; width:100%; margin:0 auto; background:url(https://s3.amazonaws.com/fantees/mailer/logo-bg.jpg)repeat-x #304055; padding:10px 20px;"}
            %a{href: "#"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/logo.jpg"
            %span{style:"color:#fff; font-weight:bold; float:right; margin: 7px 0 0; font-size:14px;"} QUESTION? SPEAK TO US 1300 76 65 67

          / content
          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px 15px; border-bottom:1px solid #e2e5e7;"}
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              = "Hey #{@user.first_name},"
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              By now, you should have received your 
              = succeed "," do
                %strong= "#{@product_title}"
              and have had some time to wear it out and about!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Fingers crossed it has gotten to you already, if not just go and check out the status using the tracking ID from our email a couple of days ago.
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Inside with your order you should have seen a quick note from us just saying Thanks for ordering with us and that we hope you L.O.V.E your order.
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} It also mentions our return guarantee, so if your order isn't the right size or there is something wrong with it, just let us know and we'll happily get it sorted out for you.
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} It's unlikely there's anything wrong BUT just incase.
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} I've Got A HUGE Favour To Ask ;-)
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} I really hope you love your item, but there's only one way for us to know for sure.
            %div{style:"background:#f6f6f6;padding:10px 20px; margin-bottom:20px;"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/wear-photo.png", {style:"float:right;margin:10px;"}
              %h1{style:"color:#334056; font-family:Arial, Helvetica; font-weight:bold;font-size:18px;line-height: 27px;"} So, we'd love it if you would share a photo with us of you out and about (or at home!) wearing it, all you need to do is take a picture, head to:
              %p
                %a{href:"https://www.facebook.com/fanteesau", style:"color:#3c9edf;margin-left:8px;font-family:Arial, Helvetica, sans-serif;", target:"_blank"} https://www.facebook.com/fanteesau
              %div{style:"clear:both;"}
              %p{style:"color:#334056; font-family:Arial, Helvetica, sans-serif; font-weight:bold;font-size:14px;"} Upload your photo to our wall and share it with us!

            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:0;"} Thanks soooo much!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:0;"} 
              = "- Matt & the " 
              %a{href:"#", style:"color:#3996d2;"} FanTees.com.au 
              Family

          %div{style:"clear:both;"}

          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px; background:#334056; text-align:center; color:#fff; font-size:12px;"}
            %p{style:"margin:0; font-family:Arial, Helvetica, sans-serif; font-weight:bold;"} 
              Call Us 1300 76 65 67  |   
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Email Us  
              | 
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Support  
              |  
              %a{href:"https://fantees.com.au/dashboard", style:"color:#fff; text-decoration:underline;"} Track Your Orders
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; line-height: normal; margin-top: 10px;"} 
              To unsubscribe, make changes to your subscription preferences, or receive fewer emails from us, visit our 
              %a{href:"#", style:"color:#4d94de; text-decoration:underline;"} Subscription Center. 
              If you received this email from a friend, 
              %a{href:"https://fantees.com.au", style:"color:#4d94de;text-decoration:underline;"} subscribe to the newsletter here.
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; margin:0;"} © 2014 FanTees PTY LTD