!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
		%title Howd we do
		%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
	%body{style:"margin:0;"}
		%table{width:"620", border:"0", cellspacing:"0", cellpadding:"0", style:"margin:0 auto;display:block; font-family:Arial, Helvetica !important;"}
			%tr
				%td
					
					%table{cellspacing:"0", cellpadding:"0", width:"600", border:"0", style:"margin: 0 auto; display:block;background:#304055;padding:10px;"}
						%tbody
							%tr
								%td{style:"width: 30%;"}
									%a{href:"#"}
										%img{src:"https://d2worlu18991dl.cloudfront.net/assets/logo-a72a78623c4c9f263b996f2f4cc0c9e7.png"}
								%td{style:"width:55%;"}
									%span{style:"color:#fff; font-family:Arial, Helvetica, sans-serif; font-weight:bold; float:right; margin: 7px 0 0;"} QUESTION? SPEAK TO US 1300 76 65 67

					%div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px 15px; border-bottom:1px solid #e2e5e7;"}
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
							Over the last couple of days 
							= "#{@user.first_name}" 
							we've released 15+ new designs and I thought you might like to check them out and see what grabs your eye ;-)
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} You can see what we've just released here:
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
							%a{href:"FanTees.com.au", target:"_blank"} FanTees.com.au
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
							Use the coupon code: 
							%strong loveable
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Just don't tell Rick I've sent you that, it's our little secret, okay?
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
							= "-Matt"
							%br
							Co-Founder (& trouble maker)
							%br FanTees.com.au
						%p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} P.S - If you can't find anything that you like let me know what your interested in and I might be able to find something or get our team to come up with something...

					%table{cellspacing:"0", cellpadding:"0", width:"620", border:"0", style:"margin: 0 auto; display:block;background:#000;padding:10px 0;"}
						%tbody
							%tr
								%td{width:"80", height:"40", align:"right", valign:"middle"}
									%a{target:"_blank", href:"https://www.facebook.com/fanteesau"}
										%img{src:"https://s3.amazonaws.com/ftemail/facebook-36x36.png", style:"vertical-align: middle; margin-right: 5px; border:1px solid #000 ;border-radius: 50%"}
								%td{width:"80", height:"40", align:"left", valign:"middle"}
									%a{target:"_blank", href:"https://www.facebook.com/fanteesau", style:"color:#fff; text-decoration: none;"} Facebook
								%td{width:"80", height:"40", align:"right", valign:"middle"}
									%a{target:"_blank", href:"http://instagram.com/fanteesau"}
										%img{src:"https://s3.amazonaws.com/ftemail/instagram-36x36.png", style:"vertical-align: middle; margin-right: 5px; border:1px solid #000 ;border-radius: 50%"}
								%td{width:"80", height:"40", align:"left", valign:"middle"}
									%a{target:"_blank", href:"http://instagram.com/fanteesau", style:"color:#fff; text-decoration: none;"} Instagram
								%td{width:"80", height:"40", align:"right", valign:"middle"}
									%a{target:"_blank", href:"https://twitter.com/fanteesau"}
										%img{src:"https://s3.amazonaws.com/ftemail/twitter-36x36.png", style:"vertical-align: middle; margin-right: 5px; border:1px solid #000 ;border-radius: 50%"}
								%td{width:"80", height:"40", align:"left", valign:"middle"}
									%a{target:"_blank", href:"https://twitter.com/fanteesau", style:"color:#fff; text-decoration: none;"} Twitter
								%td{width:"80", height:"40", align:"right", valign:"middle"}
									%a{target:"_blank", href:"https://fantees.com.au/"}
										%img{src:"https://s3.amazonaws.com/ftemail/shop-36x36.png", style:"vertical-align: middle; margin-right: 5px; border:1px solid #000 ;border-radius: 50%"}
								%td{width:"80", height:"40", align:"left", valign:"middle"}
									%a{target:"_blank", href:"https://fantees.com.au/", style:"color:#fff; text-decoration: none;"} Shop

					%div{style:"clear:both;"}

					%div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px; background:#334056; text-align:center; color:#fff; font-size:12px;"}
						%p{style:"margin:0; font-family: 'Lato', sans-serif; font-weight:bold;"} 
							Call Us 1300 76 65 67
							= "  |  "
							%a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} 
								Email Us
							= "  |  "
							%a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"}
								Support
							= "  |  "
							%a{href:"https://fantees.com.au/dashboard", style:"color:#fff; text-decoration:underline;"} 
								Track Your Orders
						%p{style:"font-family:Arial, Helvetica, sans-serif; margin:10px 0;"} &copy; 2014 FanTees PTY LTD