!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Printing
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body{style:"margin:0;"}
    %table{width:"620", border:"0", cellspacing:"0", cellpadding:"0", style:"margin:0 auto;display:block; font-family:Arial, Helvetica, sans-serif;"}
      %tr
        %td
          
          %div{style:"max-width:580px; width:100%; margin:0 auto; background:url(https://s3.amazonaws.com/fantees/mailer/logo-bg.jpg)repeat-x #304055; padding:10px 20px;"}
            %a{href: "#"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/logo.jpg"
            %span{style:"color:#fff; font-weight:bold; float:right; margin: 7px 0 0; font-size:14px;"} QUESTION? SPEAK TO US 1300 76 65 67

          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px 15px; border-bottom:1px solid #e2e5e7;"}
            %h1{style:"font-family:Arial, Helvetica, sans-serif; font-size:24px; color: #304055; text-align:center; text-transform:uppercase; font-weight:normal;"} We're Printing!!!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              = "Hey #{@user.first_name},"
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} It's me again :p
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} I'm going to be real quick, because today I just wanted to let you know that we've just started printing your order!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Check it out:
            %p{style:"margin:0;text-align:center;"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/print-img.jpg", {style:"width:100%"}
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} This means it won't be long until we're sending it out to you via express post and you'll be wearing it out and about :-)
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Enjoy the rest of your day!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"}
              = "- Matt & the" 
              %a{href:"https://fantees.com.au/", style:"color:#3996d2; text-decoration:none;"} FanTees.com.au 
              Family
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} P.S - As always, if you need to get in touch all you need to do is call us on 1300 76 65 67 or just hit reply to this email

          %div{style:"clear:both;"}

          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px; background:#334056; text-align:center; color:#fff; font-size:12px;"}
            %p{style:"margin:0; font-family:Arial, Helvetica, sans-serif; font-weight:bold;"} 
              Call Us 1300 76 65 67  |   
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Email Us  
              | 
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Support  
              |  
              %a{href:"https://fantees.com.au/dashboard", style:"color:#fff; text-decoration:underline;"} Track Your Orders
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; line-height: normal; margin-top: 10px;"} 
              To unsubscribe, make changes to your subscription preferences, or receive fewer emails from us, visit our 
              %a{href:"#", style:"color:#4d94de; text-decoration:underline;"} Subscription Center. 
              If you received this email from a friend, 
              %a{href:"https://fantees.com.au", style:"color:#4d94de;text-decoration:underline;"} subscribe to the newsletter here.
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; margin:0;"} © 2014 FanTees PTY LTD
