!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Campaign Ended
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body{style:"margin:0;"}
    %table{width:"620", border:"0", cellspacing:"0", cellpadding:"0", style:"margin:0 auto;display:block; font-family:Arial, Helvetica, sans-serif;"}
      %tr
        %td
          
          %div{style:"max-width:580px; width:100%; margin:0 auto; background:url(https://s3.amazonaws.com/fantees/mailer/logo-bg.jpg)repeat-x #304055; padding:10px 20px;"}
            %a{href: "#"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/logo.jpg"
            %span{style:"color:#fff; font-weight:bold; float:right; margin: 7px 0 0; font-size:14px;"} QUESTION? SPEAK TO US 1300 76 65 67

          / content
          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px 15px; border-bottom:1px solid #e2e5e7;"}
            %h1{style:"font-family:Arial, Helvetica; font-size:24px; color: #304055; text-align:center; text-transform:uppercase; font-weight:normal;"} 
              Your Order For 
              %strong
                = "#{@product_title}" 
              Was Successful
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              = "Hey #{@user.first_name},"
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Matt here again with super exciting news!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              Our 
              = "#{@product_title}"
              campaign has just ended and we reached our goal! So this means we're off to print!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} To make this happen a few things are happening behind the scenes!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} We're setting up the print screens ready to start printing, we're ordering the blanks to print on and we've stocked the fridge with Red Bull to keep the team awake to ensure everything is done on time!
            %h2{style:"font-family:Arial, Helvetica; font-size:18px; color: #304055; text-align:center; font-weight:normal;margin-bottom:30px;"} This Is What The Next 12-14 Days Involves:

            %div{style:"float:left;width:31%; margin-right:20px; text-align:center;"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/day1.jpg"
              %h3{style:"font-family:Arial, Helvetica, sans-serif; color: #304055; font-size:18px; color:#3ea3e6;margin-top: 54px;"} Day 1
              %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:28px;"} Preparation for printing process and order the shirt from supplier
              = image_tag "https://s3.amazonaws.com/fantees/mailer/day15.jpg"
              %h3{style:"font-family:Arial, Helvetica, sans-serif; color: #304055; font-size:18px; color:#3ea3e6;margin-top: 28px;"} Day 8-10
              %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} We fold and bag each of the orders ready to be shipped out to you!

            %div{style:"float:left;width:31%; margin-right:20px; text-align:center;"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/day2.jpg"
              %h3{style:"font-family:Arial, Helvetica, sans-serif; color: #304055; font-size:18px; color:#3ea3e6;margin-top: 43px;"} Day 2-5
              %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:28px;"} Setting everything up for printing while our shirt supplier delivers.  
              = image_tag "https://s3.amazonaws.com/fantees/mailer/day18.jpg"
              %h3{style:"font-family:Arial, Helvetica, sans-serif; color: #304055; font-size:18px; color:#3ea3e6;"} Day 10-12
              %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} we package everything together and picked up by the postman to be express posted to you

            %div{style:"float:left;width:31%; text-align:center;"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/day8.jpg"
              %h3{style:"font-family:Arial, Helvetica, sans-serif; color: #304055; font-size:18px; color:#3ea3e6;"} Day 6-7
              %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:28px;"} We start printing
              = image_tag "https://s3.amazonaws.com/fantees/mailer/day19.jpg", {style:"margin-top: 24px"}
              %h3{style:"font-family:Arial, Helvetica, sans-serif; color: #304055; font-size:18px; color:#3ea3e6;"} Day 12-14
              %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Depending on where you live, you’ll be receiving your order on your doorstep.

            %div{style:"clear:both"}
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:28px;"} So as you can see, we've got a pretty crazy few days ahead of us but it'll all be worthwhile when we get a picture from you wearing your new FanTee!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:28px;"} Okay, now I better run and get this list started!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:0;"} Talk soon :)
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-top:0; margin-bottom:28px;"} 
              = "- Matt & the" 
              %a{href:"https://fantees.com.au/", style:"color:#3996d2; text-decoration:none;"} FanTees.com.au
              Family
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:28px;"} P.S - First can of red bull = gone!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:28px;"} P.P.S - Thanks so much for your support and ordering with us! If you need anything just hit reply to this email and myself or one of our AMAZING team will get back to you ASAP!

          %div{style:"clear:both;"}

          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px; background:#334056; text-align:center; color:#fff; font-size:12px;"}
            %p{style:"margin:0; font-family:Arial, Helvetica, sans-serif; font-weight:bold;"} 
              Call Us 1300 76 65 67  |   
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Email Us  
              | 
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Support  
              |  
              %a{href:"https://fantees.com.au/dashboard", style:"color:#fff; text-decoration:underline;"} Track Your Orders
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; line-height: normal; margin-top: 10px;"} 
              To unsubscribe, make changes to your subscription preferences, or receive fewer emails from us, visit our 
              %a{href:"#", style:"color:#4d94de; text-decoration:underline;"} Subscription Center. 
              If you received this email from a friend, 
              %a{href:"https://fantees.com.au", style:"color:#4d94de;text-decoration:underline;"} subscribe to the newsletter here.
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; margin:0;"} © 2014 FanTees PTY LTD