!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Packing
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body{style:"margin:0;"}
    %table{width:"620", border:"0", cellspacing:"0", cellpadding:"0", style:"margin:0 auto;display:block; font-family:Arial, Helvetica, sans-serif;"}
      %tr
        %td
          
          %div{style:"max-width:580px; width:100%; margin:0 auto; background:url(https://s3.amazonaws.com/fantees/mailer/logo-bg.jpg)repeat-x #304055; padding:10px 20px;"}
            %a{href: "#"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/logo.jpg"
            %span{style:"color:#fff; font-weight:bold; float:right; margin: 7px 0 0; font-size:14px;"} QUESTION? SPEAK TO US 1300 76 65 67
          
          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px 15px; border-bottom:1px solid #e2e5e7;"}
            %h1{style:"font-size:24px; color: #304055; text-align:center; text-transform:uppercase; font-weight:bold;"} Today, We Pack!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              = "Hey #{@user.first_name},"
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Ooooh are you getting excited, Because I am!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Sue and Deb are packing your order today ready for the lovely people at Australia Post to come and pick it up this afternoon ready to be delivered.
            %p{style:"margin:0;text-align:center;"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/pack-img.jpg", {style:"width:100%;"}
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Today's a big day for us, we love getting orders out to you because it means we're just a step away from seeing you out and about wearing it!
            %p{style:"text-align: center; margin: 28px 0px;"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/see-yours.png"
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} As you can see we've got a lot of orders going out, but rest assured each and every order is being double, scrap that triple checked, before it's sent to ensure you're getting the right item in mint condition!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Until Next Time :)
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              = "- Matt & the "
              %a{href:"https://fantees.com.au/", style:"color:#3996d2; text-decoration:none;"} FanTees.com.au 
              Family</p>
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} P.S - I'm sure you already know this, but, if you need to get in touch all you need to do is call us on 1300 76 65 67 or just hit reply to this email.
          
          %div{style:"clear:both;"}

          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px; background:#334056; text-align:center; color:#fff; font-size:12px;"}
            %p{style:"margin:0; font-family: 'Lato', sans-serif; font-weight:bold;"} 
              Call Us 1300 76 65 67 | 
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Email Us 
              | 
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Support 
              | 
              %a{href:"https://fantees.com.au/dashboard", style:"color:#fff; text-decoration:underline;"} Track Your Orders
            %p{style:"font-family:Arial, Helvetica, sans-serif; line-height: normal; margin-top: 10px;"} 
              To unsubscribe, make changes to your subscription preferences, or receive fewer emails from us, visit our 
              %a{href:"#", style:"color:#4d94de; text-decoration:underline;"} Subscription Center. 
              If you received this email from a friend, 
              %a{href:"https://fantees.com.au", style:"color:#4d94de;text-decoration:underline;"} subscribe to the newsletter here.
              %p{style:"font-family:Arial, Helvetica, sans-serif; margin:0;"} © 2014 FanTees PTY LTD