!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Tracking
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body{style:"margin:0;"}
    %table{width:"620", border:"0", cellspacing:"0", cellpadding:"0", style:"margin:0 auto;display:block; font-family:Arial, Helvetica, sans-serif;"}
      %tr
        %td
          
          %div{style:"max-width:580px; width:100%; margin:0 auto; background:url(https://s3.amazonaws.com/fantees/mailer/logo-bg.jpg)repeat-x #304055; padding:10px 20px;"}
            %a{href: "#"}
              = image_tag "https://s3.amazonaws.com/fantees/mailer/logo.jpg"
            %span{style:"color:#fff; font-weight:bold; float:right; margin: 7px 0 0; font-size:14px;"} QUESTION? SPEAK TO US 1300 76 65 67

          / content
          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px 15px; border-bottom:1px solid #e2e5e7;"}
            %h1{style:"font-family:Arial, Helvetica, sans-serif; font-size:18px; color: #314055; text-align:center;"} IT'S COMING
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              = "Hey #{@user.first_name},"
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Sue and Deb have just packed it up for the day and that means your order is on it’s way to you now!
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Yup, the lovely team at Australia Post have just picked up the cage with today’s packages and yours is in it :)
            %p{style:"text-align:center;"}
              = image_tag "https://s3.amazonaws.com/ftemail/02-img.jpg"
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} Now depending on where you live it will be with you in about 3 business days and if you’re across the sea it’ll take a couple extra days to arrive (it’s times like this I wish Teleportation worked so I can get it to you now).
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} If you’re not home when the postie rocks up he’ll leave you a little calling slip or the parcel in a safe spot for you :)

            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} 
              = "-Matt" 
            %p{style:"font-size:14px; color:#777777; font-family:Arial, Helvetica, sans-serif; margin-bottom:18px;"} P.S - As always, if you need to get in touch, just hit reply order give the team a buzz on

          %div{style:"clear:both;"}

          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:12px 20px; background:#000; text-align:center;"}
            %ul{style:"padding: 0; margin: 0;display:inline-block;margin: 0 auto;"}
              %li{style:"float:left; list-style:none; margin-right: 10px; margin-left:15px; font-family:Arial, Helvetica, sans-serif;"}
                %a{href:"https://www.facebook.com/fanteesau", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/facebook-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", target:"_blank"} Facebook
              %li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"}
                %a{href:"http://instagram.com/fanteesau", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/instagram-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", target:"_blank"} Instagram
              %li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"}
                %a{href:"https://twitter.com/fanteesau", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/twitter-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", target:"_blank"} Twitter
              %li{style:"float:left; list-style:none; margin-right: 10px; font-family:Arial, Helvetica, sans-serif;"}
                %a{href:"https://fantees.com.au/", style:"text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; background: url('https://s3.amazonaws.com/ftemail/shop-36x36.png') no-repeat scroll left center transparent; padding: 10px 10px 10px 40px; display: inline-block;", target:"_blank"} Shop
              %div{style:"clear:both;"}

          %div{style:"max-width:580px; width:100%; margin:0 auto; padding:10px 20px; background:#334056; text-align:center; color:#fff; font-size:12px;"}
            %p{style:"margin:0; font-family:Arial, Helvetica, sans-serif; font-weight:bold;"} 
              Call Us 1300 76 65 67  |   
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Email Us  
              | 
              %a{href:"https://fantees.com.au/contact-us", style:"color:#fff; text-decoration:underline;"} Support  
              |  
              %a{href:"https://fantees.com.au/dashboard", style:"color:#fff; text-decoration:underline;"} Track Your Orders
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; line-height: normal; margin-top: 10px;"} 
              To unsubscribe, make changes to your subscription preferences, or receive fewer emails from us, visit our 
              %a{href:"#", style:"color:#4d94de; text-decoration:underline;"} Subscription Center. 
              If you received this email from a friend, 
              %a{href:"https://fantees.com.au", style:"color:#4d94de;text-decoration:underline;"} subscribe to the newsletter here.
            
            %p{style:"font-family:Arial, Helvetica, sans-serif; margin:0;"} © 2014 FanTees PTY LTD