!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      Fantees - New User
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body
    %table{border: "0", cellspacing: "0", style: "color:#000;font-size:12px;margin:0 auto;background:#f0f0f0;font-family: 'Open Sans', sans-serif;font-weight:400;", width: "600"}
      %tr{style: "background:#2d4154;height:50px;"}
        %td{width: "299"}
          = image_tag "/mailer/email-logo.png", {alt: "FanTees", height: "19", wdith: "89", style: "margin-left:20px;"}

        %td{width: "297"}
          %span{style: "font-size:12px;color:#fff;font-family: 'Open Sans', sans-serif;float:right;margin-right:20px;font-weight:400;"} Questions? Speak to Us (02) 8006 2297
      %tr
        %td{colspan: "2"}
          %h2{style: "color:#282828;display:block;text-align:center;font-size:30px;font-family: 'Open Sans', sans-serif;font-weight:700;margin:20px 0;padding:0;"} User Access Details


          %div{style: "height:2px;background:#dddddd;width:560px;margin:0 auto;"}
      %tr
        %td{style: "vertical-align:inherit;"}
          %div{style: "width:280px;float:left;padding-left:20px;"}

            %p
              %span
                %strong Email:
                = @email
              %br/
              %span
                %strong Password:
                = @password

      %tr{style: "background:#2d4154;height:50px;"}
        %td{colspan: "2"}
          %span{style: "font-size:10px;color:#fff;display:block;text-align:center;font-family: 'Open Sans', sans-serif;font-weight:400;"} ©2014 - Fantees