!!!
%html
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %title Job Tees - Email
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
  %body
    %table{border: "0", cellspacing: "0", style: "color:#000;font-size:12px;margin:0 auto;background:#f0f0f0;font-family: 'Open Sans', sans-serif;font-weight:400;", width: "600"}
      %tr{style: "background:#2d4154;height:50px;"}
        %td{width: "299"}
          = image_tag "/mailer/#{@order.website.name.downcase}-email-logo.png", {alt: "JobTees", height: "19", wdith: "89", style: "margin-left:20px;"}
        %td{width: "297"}
          %span{style: "font-size:12px;color:#fff;font-family: 'Open Sans', sans-serif;float:right;margin-right:20px;font-weight:400;"} Questions? Speak to Us (02) 8006 2297
      %tr
        %td{colspan: "2"}

          %h2{style: "color:#282828;display:block;text-align:center;font-size:30px;font-family: 'Open Sans', sans-serif;font-weight:700;margin:20px 0;padding:0;"} We're Printing!
          %p{style: "color:#282828;display:block;text-align:center;font-size:17px;font-family: 'Open Sans', sans-serif;font-weight:400;margin:0 0 20px 0;padding:0;"}
            = "Your Order for #{@order.product.title} Has Gone to Print"
          %div{style: "height:2px;background:#dddddd;width:560px;margin:0 auto;"}
      %tr
        %td{style: "vertical-align:inherit;"}
          %div{style: "width:280px;float:left;padding-left:20px;"}
            %p
              Yup that's right, our campaign has reached it's minimum and your order has just gone to print!
            %p
              %strong So What Now?
            %p
              Well now that your order is printing it'll be on your doorstep in roughly 10-14 days if not sooner.
            %p
              We use high grade materials and printing techniques to ensure that your order is of the highest quality, but perfection does take time and rest assured we do everything we can to make this process as speedy as possible!
            %p{style: "color:#282828;font-size:18px;font-family: 'Open Sans', sans-serif;font-weight:700;margin-bottom:20px;margin-top: 0;"}
              When You Ship My Order, Where Is It Going?
            %p
              We'll be shipping it to the address you entered upon purchasing, you can see the address we have on file below:
            %p
              - shipping_info = ActiveSupport::JSON.decode(@order.shipping_info)
              %strong Shipping Address:
              = succeed shipping_info["Name"] do
                %br/
              = succeed shipping_info["Street1"] do
                %br/
              = succeed "#{shipping_info['CityName']}, #{shipping_info['PostalCode']}" do
                %br/
              = succeed shipping_info["CountryName"] do
                %br/
            %p{style: "color:#282828;font-size:18px;font-family: 'Open Sans', sans-serif;font-weight:700;margin-bottom:20px;margin-top: 0;"}
              Need To Change It?
            %p
              If you need to change your address, all you need to do is click the link below:
            %p
              %a{href: "#{@order.website.url}/dashboard/#/orders/#{@order.order_id}", style: "color:#666666;"} Change your shipping address
        %td
          %div{style: "width:300px;text-align:center;margin-top:20px;margin-bottom:20px;"}
            = image_tag @order.product.product_images.first.product_image.url(:medium), {alt: "Product Preview", height: "216", style: "margin:0 auto;display:block;", width: "173"}
      %tr{style: "background:#2d4154;height:50px;"}
        %td{colspan: "2"}
          %span{style: "font-size:10px;color:#fff;display:block;text-align:center;font-family: 'Open Sans', sans-serif;font-weight:400;"}
            = "©2014 - #{@order.website.name}"