!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      JobTees - New Order
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body
    %table{border: "0", cellspacing: "0", style: "color:#000;font-size:12px;margin:0 auto;background:#f0f0f0;font-family: 'Open Sans', sans-serif;font-weight:400;", width: "600"}
      %tr{style: "background:#2d4154;height:50px;"}
        %td{width: "299"}
          = image_tag "/mailer/email-logo.png", {alt: "JobTees", height: "19", wdith: "89", style: "margin-left:20px;"}
          / %img{alt: "Jobtees", height: "19", src: "/mailer/email-logo.png", style: "margin-left:20px;", width: "89"}/
        %td{width: "297"}
          %span{style: "font-size:12px;color:#fff;font-family: 'Open Sans', sans-serif;float:right;margin-right:20px;font-weight:400;"} Questions? Speak to Us (02) 8006 2297
      %tr
        %td{colspan: "2"}
          %h2{style: "color:#282828;display:block;text-align:center;font-size:30px;font-family: 'Open Sans', sans-serif;font-weight:700;margin:20px 0;padding:0;"} Congratulations
          %p{style: "color:#282828;display:block;text-align:center;font-size:17px;font-family: 'Open Sans', sans-serif;font-weight:400;margin:0 0 20px 0;padding:0;"}
            = "Your Order for #{@order.product.title} was Successful"
          %span{style: "display:block;background:#1782c8;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:10px 0;max-width:200px;color:#fff;text-align:center;margin:0 auto 30px;font-family: 'Open Sans', sans-serif;font-weight:700;"}
            = "Your ID is : #{@order.order_id}"
          %div{style: "height:2px;background:#dddddd;width:560px;margin:0 auto;"}
      %tr
        %td{style: "vertical-align:inherit;"}
          %div{style: "width:280px;float:left;padding-left:20px;"}
            %p{style: "color:#282828;font-size:18px;font-family: 'Open Sans', sans-serif;font-weight:700;margin-bottom:20px;"} Order Details
            %p
              %span
                %strong Order Summaries:
              %br/
              - total = 0
              - @order.ordered_products.each do |o|
                - info = o.price_and_profit
                - total += o.quantity.to_f * info[:amount].to_f
                %span
                  = "#{o.quantity}x #{o.size} #{o.product.title}"
                %span{style: "float:right;"}
                  = number_to_currency(info[:amount].to_f * o.quantity.to_f)
                %br/
            %p
              %span
                %strong Total
              %span
                %strong{style: "float:right;"}
                  = number_to_currency(total)
            %p
              - shipping_info = ActiveSupport::JSON.decode(@order.shipping_info)
              %strong Shipping Address:
              = succeed shipping_info["Name"] do
                %br/
              = succeed shipping_info["Street1"] do
                %br/
              = succeed "#{shipping_info['CityName']}, #{shipping_info['PostalCode']}" do
                %br/
              = succeed shipping_info["CountryName"] do
                %br/
            %a{href: "https://jobtees.com.au/dashboard/#/orders/#{@order.order_id}", style: "color:#666666;"} Change your shipping address

            - unless @password.nil?
              %p{style: "color:#282828;font-size:18px;font-family: 'Open Sans', sans-serif;font-weight:700;margin-bottom:5px;"} Account Details:

              %p
                %strong Email:
                = @order.user.email
                %br/
                %strong Password:
                = @password
        %td
          %div{style: "width:300px;text-align:center;"}
            = image_tag @order.product.product_images.first.product_image.url(:medium), {alt: "Product Preview", height: "216", style: "margin:0 auto;display:block;", width: "173"}
            / %img{alt: "Product Preview", height: "216", src: "email-product-img.png", style: "margin:0 auto;display:block;", width: "173"}/
      %tr
        %td{colspan: "2", style: "padding: 10px 0"}
          %p{style: "padding:0 20px;font-size:12px;font-family: 'Open Sans', sans-serif;font-weight:400;"}
            %strong How it Works:
            %br/
            = "Your order will be fulfilled when this campaign reaches its goal by 10PM on #{@order.product.date.strftime("%B %d, %Y")}."
      %tr{style: "height:140px;background:#e3e3e3;text-align:center;"}
        %td{colspan: "2"}
          %span{style: "color:#282828;font-size:12px;font-family: 'Open Sans', sans-serif;font-weight:700;text-transform:uppercase;display:block;margin-bottom:15px;"} SHARE THIS CAMPAIGN WITH YOUR FRIENDS
          %a{href: "#", style: "text-decoration: none"}
            = image_tag "/mailer/email-twitter.png", {alt: "Twitter", height: "34", wdith: "125"}
          %a{href: "#", style: "text-decoration: none"}
            = image_tag "/mailer/email-facebook.png", {alt: "Facebook", height: "34", wdith: "125", style: "margin-left:15px;"}
      %tr{style: "background:#2d4154;height:50px;"}
        %td{colspan: "2"}
          %span{style: "font-size:10px;color:#fff;display:block;text-align:center;font-family: 'Open Sans', sans-serif;font-weight:400;"} ©2014 - JobTees