.container
  %h1= "Order Reports (#{@total})"
  %table.table.table-striped
    %tr
      %th Name
      %th Email
      %th Website
      %th # of orders
      %th Orders

    - @orders.each do |order|
      - begin
        %tr
          %td
            = "#{order.user.first_name} #{order.user.last_name}"
          %td
            = order.user.email
          %td
            = @website.name
          %td
            = order.order_count
          %td
            %ul.list-unstyled
              - order.user.orders.where(:refund => false).each do |o|
                %li
                  %a{:href => "#{@website.url}/orders/#{o.order_id}", :target => "_blank"}
                    = o.order_id
      - rescue
  :css
    .pagination-wrapper .current{
      min-height: auto !important;
    }
  .pagination-wrapper
    = paginate @orders
