.container
  %h1 Campaign Sales
  %table.table.table-striped
    %tr
      / %th ID
      %th Title
      %th # Sold

    - @op.each do |o|
      - begin
        %tr
          / %td
          /   = o.product_id
          %td
            - p = Product.find o.product_id
            = link_to p.title, "/admin/#/product/#{o.product_id}/edit", {:target => "_blank"}
          %td
            = o.total_quantity
      - rescue
        %tr
          / %td
          %td
          %td
  :css
    .pagination-wrapper .current{
      min-height: auto !important;
    }
  .pagination-wrapper
    = paginate @op
