#content-wrapper
  .container
    .row
      .col-md-12
        %h2.text-center Login to View your Orders

        .login-div
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            %table{width: "100%", style: "margin-top:50px;"}
              %tbdoy
                %tr
                  %td{width: "20%", style: "vertical-align:top;"}
                    = f.label :email
                  %td{colspan: "2"}
                    = f.email_field :email, :autofocus => true
                %tr
                  %td{width: "20%", style: "vertical-align:top;"}
                    = f.label :password
                  %td{colspan: "2"}
                    = f.password_field :password
                - if devise_mapping.rememberable?
                  %tr
                    %td &nbsp;
                    %td{width: "42%"}
                      %span.remember-me
                        = f.check_box :remember_me
                        Remember Me
                    %td
                      - if devise_mapping.recoverable? && controller_name != 'passwords'
                        = link_to "Forgot Password?", new_password_path(resource_name), {class: "forgot"}
                %tr
                  %td &nbsp;
                  %td{colspan: "2"}
                    = f.submit "Log in"

      / = render "admins/shared/links"