.row.search-product

  %form
    .row
      .col-md-2

        &nbsp;
      .col-md-2.col-md-offset-1
        %select{:'ng-model' => "filter.setProduct", "ng-options" => "v.title as v.title for (k,v) in products", :'ng-change' => "showConsole()"}
          %option{:value => ''} All Products



      .col-md-2
        %select{:'ng-model' => "filter.printed", :'ng-change' => "setPrinted()", :'ng-init' =>"filter.printed = 'all'"}
          %option{:value => 'all'} All (printed)
          %option{:value => "1"} Yes
          %option{:value => "0"} No
      .col-md-2
        %select{:'ng-model' => "filter.batchID", "ng-options" => "currOption for currOption in batchIDs"}
          %option{:value => ''} All Batch
      .col-md-2
        %select{:'ng-model' => "filter.website_name"}
          %option{:value => ''} All Websites
          %option{:value => "FanTees"} FanTees
          %option{:value => "JobTees"} JobTees

.row.search-product

  %h2
    New Exports
    %button.btn.btn-primary.btn-xs{:type => "button", :'ng-click' => "exportData()"} Export
    %img{:src => "/assets/ajax-loader.gif", :'ng-show' => "products.length == 0", :style => "padding:10px;"}
  .table-responsive
    %table.table.table-hover
      %tr.table-heading
        %td{:colspan => "3"}

        %td{:colspan => 6} Men
        %td{:colspan => 6} Women
        %td{:colspan => 6} UniSex
        %td{:rowspan => 2} Shirt Total
        %td{:colspan => 8} Hoodie
        %td{:colspan => 8} Womens Hoodie
        %td{:rowspan => 2} Hoodie Total
        %td{:rowspan => 2} Order Total

      %tr.table-heading
        %td Batch ID
        %td Code
        %td Design

        / %td Brand
        / %td Print Colors
        / %td Item Color
        %td S
        %td M
        %td L
        %td XL
        %td 2XL
        %td 3XL

        %td S
        %td M
        %td L
        %td XL
        %td 2XL
        %td 3XL

        %td S
        %td M
        %td L
        %td XL
        %td 2XL
        %td 3XL

        /%td Brand
        /%td Print Colors
        /%td Item Color
        %td XS
        %td XXS
        %td S
        %td M
        %td L
        %td XL
        %td 2XL
        %td 3XL

        %td XS
        %td XXS
        %td S
        %td M
        %td L
        %td XL
        %td 2XL
        %td 3XL

      %tbody{'ng-repeat' => "product in products | filter:{title: filter.setProduct} | filter:{extra_order_batch_id: filter.batchID} | filter:{website_name: filter.website_name}" }
        %tr
          %td{:rowspan => "2"}
            %select{"ng-model" => "product.extra_order_batch_id", "ng-options" => "currOption for currOption in batchIDs", :style => "width:100px", :'ng-change' => "updateData(product)"}
          %td.order-table-id {{itemCode(product.website_name)}}-{{product.id}}
          %td {{product.title}}
          / %td {{product.product_brand}}
          / %td {{product.print_colors}}
          / %td {{product.product_item_color}}
          %td {{showTotalBySize('Mens Tee', 'S', product)}}
          %td {{showTotalBySize('Mens Tee', 'M', product)}}
          %td {{showTotalBySize('Mens Tee', 'L', product)}}
          %td {{showTotalBySize('Mens Tee', 'XL', product)}}
          %td {{showTotalBySize('Mens Tee', 'XXL', product)}}
          %td {{showTotalBySize('Mens Tee', 'XXXL', product)}}

          %td {{showTotalBySize('Womens Tee', 'S', product)}}
          %td {{showTotalBySize('Womens Tee', 'M', product)}}
          %td {{showTotalBySize('Womens Tee', 'L', product)}}
          %td {{showTotalBySize('Womens Tee', 'XL', product)}}
          %td {{showTotalBySize('Womens Tee', 'XXL', product)}}
          %td {{showTotalBySize('Womens Tee', 'XXXL', product)}}

          %td {{showTotalBySize('Unisex Tee', 'S', product)}}
          %td {{showTotalBySize('Unisex Tee', 'M', product)}}
          %td {{showTotalBySize('Unisex Tee', 'L', product)}}
          %td {{showTotalBySize('Unisex Tee', 'XL', product)}}
          %td {{showTotalBySize('Unisex Tee', 'XXL', product)}}
          %td {{showTotalBySize('Unisex Tee', 'XXXL', product)}}

          %td
            {{showTotalByCategory('Mens Tee', product) + showTotalByCategory('Womens Tee', product)}}

          /%td
          /%td
          %td {{showTotalBySize('Hoodie', 'XS', product) + showTotalBySize('Hoodie (Gildan)', 'XS', product)}}
          %td {{showTotalBySize('Hoodie', 'XXS', product) + showTotalBySize('Hoodie (Gildan)', 'XXS', product)}}
          %td {{showTotalBySize('Hoodie', 'S', product) + showTotalBySize('Hoodie (Gildan)', 'S', product)}}
          %td {{showTotalBySize('Hoodie', 'M', product) + showTotalBySize('Hoodie (Gildan)', 'M', product)}}
          %td {{showTotalBySize('Hoodie', 'L', product) + showTotalBySize('Hoodie (Gildan)', 'L', product)}}
          %td {{showTotalBySize('Hoodie', 'XL', product) + showTotalBySize('Hoodie (Gildan)', 'XL', product)}}
          %td {{showTotalBySize('Hoodie', 'XXL', product) + showTotalBySize('Hoodie (Gildan)', 'XXL', product)}}
          %td {{showTotalBySize('Hoodie', 'XXXL', product) + showTotalBySize('Hoodie (Gildan)', 'XXXL', product)}}

          %td {{showTotalBySize('Womens Hoodie', 'XS', product)}}
          %td {{showTotalBySize('Womens Hoodie', 'XXS', product)}}
          %td {{showTotalBySize('Womens Hoodie', 'S', product)}}
          %td {{showTotalBySize('Womens Hoodie', 'M', product)}}
          %td {{showTotalBySize('Womens Hoodie', 'L', product)}}
          %td {{showTotalBySize('Womens Hoodie', 'XL', product)}}
          %td {{showTotalBySize('Womens Hoodie', 'XXL', product)}}
          %td {{showTotalBySize('Womens Hoodie', 'XXXL', product)}}

          %td
            {{showTotalByCategory('Hoodie', product) + showTotalByCategory('Hoodie (Gildan)', product) + showTotalByCategory('Womens Hoodie', product)}}

          %td
            %strong
              {{showTotalByCategory('Mens Tee', product) + showTotalByCategory('Womens Tee', product) + showTotalByCategory('Hoodie', product) + showTotalByCategory('Hoodie (Gildan)', product) + showTotalByCategory('Womens Hoodie', product)}}

        %tr

          %td.order-table-id extra-{{product.id}}
          %td
            %input{:type => "text",  :'ng-change' => "updateData(product)", :style => "width:80px", :'ng-model' => 'product.extra_order_design'}
          / %td
          / %td
          / %td
          %td
            %input{:type => "number",  :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[0].S'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[0].M'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[0].L'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[0].XL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[0].XXL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[0].XXXL'}

          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[1].S'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[1].M'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[1].L'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[1].XL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[1].XXL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[1].XXXL'}

          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[3].S'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[3].M'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[3].L'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[3].XL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[3].XXL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[3].XXXL'}

          %td
            {{showExtraTotalByCategory('Mens Tee', product) + showExtraTotalByWomensTee(product.extra_orders[1]) + showExtraTotalByCategory('Unisex Tee', product)}}


          /%td
          /%td
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[2].XS'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[2].XXS'}

          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[2].S'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[2].M'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[2].L'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[2].XL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[2].XXL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[2].XXXL'}


          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[4].XS'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[4].XXS'}

          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[4].S'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[4].M'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[4].L'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[4].XL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[4].XXL'}
          %td
            %input{:type => "number", :'ng-change' => "updateData(product)", :style => "width:60px", :'ng-model' => 'product.extra_orders[4].XXXL'}


          %td
            {{showExtraTotalByCategory('Hoodie', product) + showExtraTotalByCategory('Womens Hoodie', product)}}

          %td
            %strong
              {{showExtraTotalByCategory('Mens Tee', product) + showExtraTotalByWomensTee(product.extra_orders[1]) + showExtraTotalByCategory('Hoodie', product) + showExtraTotalByCategory('Unisex Tee', product) + showExtraTotalByCategory('Womens Hoodie', product) * 1}}

        %tr
          %td.order-table-id{:colspan => "2"}
            %strong Total
          %td
          / %td
          / %td
          / %td
          %td
            %strong {{showTotalBySize('Mens Tee', 'S', product) + product.extra_orders[0].S}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'M', product) + product.extra_orders[0].M}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'L', product) + product.extra_orders[0].L}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'XL', product) + product.extra_orders[0].XL}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'XXL', product) + product.extra_orders[0].XXL}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'XXXL', product) + product.extra_orders[0].XXXL}}

          %td
            %strong {{showTotalBySize('Womens Tee', 'S', product) + product.extra_orders[1].S}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'M', product) + product.extra_orders[1].M}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'L', product) + product.extra_orders[1].L}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'XL', product) + product.extra_orders[1].XL}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'XXL', product) + product.extra_orders[1].XXL}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'XXXL', product) + product.extra_orders[1].XXXL}}


          %td
            %strong {{showTotalBySize('Unisex Tee', 'S', product) + product.extra_orders[1].S}}
          %td
            %strong {{showTotalBySize('Unisex Tee', 'M', product) + product.extra_orders[1].M}}
          %td
            %strong {{showTotalBySize('Unisex Tee', 'L', product) + product.extra_orders[1].L}}
          %td
            %strong {{showTotalBySize('Unisex Tee', 'XL', product) + product.extra_orders[1].XL}}
          %td
            %strong {{showTotalBySize('Unisex Tee', 'XXL', product) + product.extra_orders[1].XXL}}
          %td
            %strong {{showTotalBySize('Unisex Tee', 'XXXL', product) + product.extra_orders[1].XXXL}}


          %td

            {{showTotalByCategory('Mens Tee', product) + showTotalByCategory('Womens Tee', product) + showExtraTotalByCategory('Mens Tee', product) + showExtraTotalByWomensTee(product.extra_orders[1]) + showTotalByCategory('Unisex Tee', product)}}
          /%td
          /%td
          %td
            %strong {{showTotalBySize('Hoodie (Gildan)', 'XS', product) + showTotalBySize('Hoodie', 'XS', product) + product.extra_orders[2].XS}}
          %td
            %strong {{showTotalBySize('Hoodie (Gildan)', 'XXS', product) + showTotalBySize('Hoodie', 'XXS', product) + product.extra_orders[2].XXS}}
          %td
            %strong {{showTotalBySize('Hoodie (Gildan)', 'S', product) + showTotalBySize('Hoodie', 'S', product) + product.extra_orders[2].S}}
          %td
            %strong {{showTotalBySize('Hoodie (Gildan)', 'M', product) + showTotalBySize('Hoodie', 'M', product) + product.extra_orders[2].M}}
          %td
            %strong {{showTotalBySize('Hoodie (Gildan)', 'L', product) + showTotalBySize('Hoodie', 'L', product) + product.extra_orders[2].L}}
          %td
            %strong {{showTotalBySize('Hoodie (Gildan)', 'XL', product) + showTotalBySize('Hoodie', 'XL', product) + product.extra_orders[2].XL}}
          %td
            %strong {{showTotalBySize('Hoodie (Gildan)', 'XXL', product) + showTotalBySize('Hoodie', 'XXL', product) + product.extra_orders[2].XXL}}
          %td
            %strong {{showTotalBySize('Hoodie (Gildan)', 'XXXL', product) + showTotalBySize('Hoodie', 'XXXL', product) + product.extra_orders[2].XXXL}}



          %td
            %strong {{showTotalBySize('Womens Hoodie', 'XS', product) + product.extra_orders[4].XS}}
          %td
            %strong {{showTotalBySize('Womens Hoodie', 'XXS', product) + showTotalBySize('Hoodie', 'XXS', product) + product.extra_orders[4].XXS}}
          %td
            %strong {{showTotalBySize('Womens Hoodie', 'S', product) + showTotalBySize('Hoodie', 'S', product) + product.extra_orders[4].S}}
          %td
            %strong {{showTotalBySize('Womens Hoodie', 'M', product) + showTotalBySize('Hoodie', 'M', product) + product.extra_orders[4].M}}
          %td
            %strong {{showTotalBySize('Womens Hoodie', 'L', product) + showTotalBySize('Hoodie', 'L', product) + product.extra_orders[4].L}}
          %td
            %strong {{showTotalBySize('Womens Hoodie', 'XL', product) + showTotalBySize('Hoodie', 'XL', product) + product.extra_orders[4].XL}}
          %td
            %strong {{showTotalBySize('Womens Hoodie', 'XXL', product) + showTotalBySize('Hoodie', 'XXL', product) + product.extra_orders[4].XXL}}
          %td
            %strong {{showTotalBySize('Womens Hoodie', 'XXXL', product) + showTotalBySize('Hoodie', 'XXXL', product) + product.extra_orders[4].XXXL}}


          %td
            %strong {{showTotalByCategory('Womens Hoodie', product) + showTotalByCategory('Hoodie (Gildan)', product) + showTotalByCategory('Hoodie', product) + showExtraTotalByCategory('Hoodie', product)}}

          %td
            %strong
              {{ showTotalByCategory('Womens Hoodie', product) + showTotalByCategory('Hoodie (Gildan)', product) + showTotalByCategory('Mens Tee', product) + showTotalByCategory('Womens Tee', product) + showTotalByCategory('Hoodie', product) + showExtraTotalByCategory('Mens Tee', product) + showExtraTotalByWomensTee(product.extra_orders[1]) + showExtraTotalByCategory('Hoodie', product) + showTotalByCategory('Unisex Tee', product) * 1}}
        %tr
          %td{:colspan => "45"} &nbsp;


  .table-responsive#newexportable{:style => "display:none"}
    %table.table.table-hover
      %tr.table-heading
        %td{:colspan => "6"}

        %td{:colspan => 6} Men
        %td{:colspan => 6} Women
        %td{:rowspan => 2} Shirt Total
        %td{:colspan => 10} Hoodie
        %td{:rowspan => 2} Hoodie Total
        %td{:rowspan => 2} Order Total

      %tr.table-heading
        %td Batch ID
        %td Code
        %td Design

        %td Brand
        %td Print Colors
        %td Item Color
        %td S
        %td M
        %td L
        %td XL
        %td 2XL
        %td 3XL

        %td S
        %td M
        %td L
        %td XL
        %td 2XL
        %td 3XL

        %td Brand
        %td Item Color
        %td XS
        %td XXS
        %td S
        %td M
        %td L
        %td XL
        %td 2XL
        %td 3XL
      %tbody{'ng-repeat' => "product in products"}
        %tr
          %td{:rowspan => "2"}
            00{{product.extra_order_batch_id}}
          %td.order-table-id fan-{{product.id}}
          %td {{product.title}}
          %td
          %td
          %td
          %td {{showTotalBySize('Mens Tee', 'S', product)}}
          %td {{showTotalBySize('Mens Tee', 'M', product)}}
          %td {{showTotalBySize('Mens Tee', 'L', product)}}
          %td {{showTotalBySize('Mens Tee', 'XL', product)}}
          %td {{showTotalBySize('Mens Tee', 'XXL', product)}}
          %td {{showTotalBySize('Mens Tee', 'XXXL', product)}}

          %td {{showTotalBySize('Womens Tee', 'S', product)}}
          %td {{showTotalBySize('Womens Tee', 'M', product)}}
          %td {{showTotalBySize('Womens Tee', 'L', product)}}
          %td {{showTotalBySize('Womens Tee', 'XL', product)}}
          %td {{showTotalBySize('Womens Tee', 'XXL', product)}}
          %td {{showTotalBySize('Womens Tee', 'XXXL', product)}}

          %td
            {{showTotalByCategory('Mens Tee', product) + showTotalByCategory('Womens Tee', product)}}

          %td
          %td
          %td {{showTotalBySize('Hoodie', 'XS', product)}}
          %td {{showTotalBySize('Hoodie', 'XXS', product)}}
          %td {{showTotalBySize('Hoodie', 'S', product)}}
          %td {{showTotalBySize('Hoodie', 'M', product)}}
          %td {{showTotalBySize('Hoodie', 'L', product)}}
          %td {{showTotalBySize('Hoodie', 'XL', product)}}
          %td {{showTotalBySize('Hoodie', 'XXL', product)}}
          %td {{showTotalBySize('Hoodie', 'XXXL', product)}}

          %td
            {{showTotalByCategory('Hoodie', product)}}

          %td
            %strong
              {{showTotalByCategory('Mens Tee', product) + showTotalByCategory('Womens Tee', product) + showTotalByCategory('Hoodie', product)}}

        %tr

          %td.order-table-id extra-{{product.id}}
          %td
            {{product.extra_order_design}}
          %td
          %td
          %td
          %td
            {{product.extra_orders[0].S}}
          %td
            {{product.extra_orders[0].M}}
          %td
            {{product.extra_orders[0].L}}
          %td
            {{product.extra_orders[0].XL}}
          %td
            {{product.extra_orders[0].XXL}}
          %td
            {{product.extra_orders[0].XXXL}}

          %td
            {{product.extra_orders[1].S}}
          %td
            {{product.extra_orders[1].M}}
          %td
            {{product.extra_orders[1].L}}
          %td
            {{product.extra_orders[1].XL}}
          %td
            {{product.extra_orders[1].XXL}}
          %td
            {{product.extra_orders[1].XXXL}}
          %td
            {{showExtraTotalByCategory('Mens Tee', product) + showExtraTotalByWomensTee(product.extra_orders[1])}}


          %td
          %td
          %td
            {{product.extra_orders[2].XS}}
          %td
            {{product.extra_orders[2].XXS}}

          %td
            {{product.extra_orders[2].S}}
          %td
            {{product.extra_orders[2].M}}
          %td
            {{product.extra_orders[2].L}}
          %td
            {{product.extra_orders[2].XL}}
          %td
            {{product.extra_orders[2].XXL}}
          %td
            {{product.extra_orders[2].XXXL}}

          %td
            {{showExtraTotalByCategory('Hoodie', product)}}

          %td
            %strong
              {{showExtraTotalByCategory('Mens Tee', product) + showExtraTotalByWomensTee(product.extra_orders[1]) + showExtraTotalByCategory('Hoodie', product) * 1}}

        %tr
          %td.order-table-id{:colspan => "2"}
            %strong Total
          %td
          %td
          %td
          %td
          %td
            %strong {{showTotalBySize('Mens Tee', 'S', product) + product.extra_orders[0].S}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'M', product) + product.extra_orders[0].M}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'L', product) + product.extra_orders[0].L}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'XL', product) + product.extra_orders[0].XL}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'XXL', product) + product.extra_orders[0].XXL}}
          %td
            %strong {{showTotalBySize('Mens Tee', 'XXXL', product) + product.extra_orders[0].XXXL}}

          %td
            %strong {{showTotalBySize('Womens Tee', 'S', product) + product.extra_orders[1].S}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'M', product) + product.extra_orders[1].M}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'L', product) + product.extra_orders[1].L}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'XL', product) + product.extra_orders[1].XL}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'XXL', product) + product.extra_orders[1].XXL}}
          %td
            %strong {{showTotalBySize('Womens Tee', 'XXXL', product) + product.extra_orders[1].XXXL}}

          %td

            {{showTotalByCategory('Mens Tee', product) + showTotalByCategory('Womens Tee', product) + showExtraTotalByCategory('Mens Tee', product) + showExtraTotalByWomensTee(product.extra_orders[1])}}
          %td
          %td
          %td
            %strong {{showTotalBySize('Hoodie', 'XS', product) + product.extra_orders[2].XS}}
          %td
            %strong {{showTotalBySize('Hoodie', 'XXS', product) + product.extra_orders[2].XXS}}


          %td
            %strong {{showTotalBySize('Hoodie', 'S', product) + product.extra_orders[2].S}}
          %td
            %strong {{showTotalBySize('Hoodie', 'M', product) + product.extra_orders[2].M}}
          %td
            %strong {{showTotalBySize('Hoodie', 'L', product) + product.extra_orders[2].L}}
          %td
            %strong {{showTotalBySize('Hoodie', 'XL', product) + product.extra_orders[2].XL}}
          %td
            %strong {{showTotalBySize('Hoodie', 'XXL', product) + product.extra_orders[2].XXL}}
          %td
            %strong {{showTotalBySize('Hoodie', 'XXXL', product) + product.extra_orders[2].XXXL}}


          %td
            %strong {{showTotalByCategory('Hoodie', product) + showExtraTotalByCategory('Hoodie', product)}}

          %td
            %strong
              {{showTotalByCategory('Mens Tee', product) + showTotalByCategory('Womens Tee', product) + showTotalByCategory('Hoodie', product) + showExtraTotalByCategory('Mens Tee', product) + showExtraTotalByWomensTee(product.extra_orders[1]) + showExtraTotalByCategory('Hoodie', product) * 1}}
        %tr
          %td{:colspan => "31"} &nbsp;









  .clearfix
