- if @data.length != 0
  .row{:style => "padding:50px;"}
    .col-md-12
      %h3 Order Data That Has Problem
      %table.table
        %thead
          %tr
            %td #
            %td Oder Reference
            %td Order ID
            %td Status
        %tbody
        - @data.each.with_index  do |row, index|
          - unless row['order_id'].to_i != 0
            - hashData = row["csv"].to_hash
            %tr
              %td
                = index + 1
              %td
                = "#{hashData['Reference 1']}"
              %td None
              %td
                %span.label.label-warning
                  Error, Not found!

  %hr
  %br
  %br
  .row{:style => "padding:50px;"}
    .col-md-12
      %h3 Order Data Successfully Updated
      %table.table
        %thead
          %tr
            %td #
            %td Oder Reference
            %td Order ID
            %td Tracking Key
            %td Status
            %td View
        %tbody
        - @data.each.with_index  do |row, index|
          - if row['order_id'].to_i != 0
            - hashData = row["csv"].to_hash
            %tr
              %td
                = index + 1
              %td
                = "#{hashData['Reference 1']}"
              %td
                = "#{row['order_id']}"
              %td
                = "#{hashData['Consignment No.']}"
              %td
                %span.label.label-info
                  Updated!
              %td
                %a.btn.btn-success{:href => "/admin/#/orders/#{row['order_id']}/show", :target => "_blank"}View
  %br
  / %u
  / - @data.each  do |row, index|
  /   %ol
  /     - hashData = row["csv"].to_hash
  /     = "#{hashData['Reference 1']}"

  /     - if row['order_id'].to_i != 0
  /       = "#{row['order_id']}"
  /       %a{:href => "/admin/#/orders/#{row['order_id']}/show", :target => "_blank"} View
  /     - else
  /       %span.label.label-warning
  /         Error, Not found!
  %div{:align => "center"}
    %a.btn.btn-info{:href => "/admin/csvimports/shipment"}Click here to upload a new one


- else
  .alert.alert-danger
    %p
      %strong Snap!
      No Data has been updated. Please check the proper format correctly.
      %br
      %br
      %a{:href => "/admin/csvimports/shipment"}Click here to upload a new one.