/ = debug @test
- count = 0
- @orders.each do |order|
  - if order.refund == false
    / = order.id
    - shipping_info = JSON.parse(order.shipping_info)
    - product = order.product
    - shipping_fee = product.settings(:options).prices
    - shippingFee = []
    .container
      .row
        %p.text-center{:style => "text-align:center"}
          %img{:src => "/assets/fantees_logo.jpg"}
        %h3.heading1{:style => "text-align:center"}
          Australia's Number 1 Fan Site...
          %br

          www.FanTees.com.au
    .container
      .row
        .col-md-6{:style => "width: 50%; float:left;"}
          %h4
            TO:
            %br
            = shipping_info['Name']
            %br
            = shipping_info['Street1']
            %br
            = shipping_info['CityName']
            = shipping_info['StateOrProvince']

            = shipping_info['PostalCode']
            %br
            = shipping_info['CountryName']

        .col-md-6.text-right{:style => "width: 50%; float:right;"}
          %h4{:style => "text-align:center"}
            DATE:
            = order.created_at.strftime("%m/%d/%Y")

          %h4{:style => "text-align:center"}
            %strong TAX INVOICE NO.
            = order.order_id
        .div{:style => "clear: both;"}

      .row
        .col-md-12
          %table.table.table-bordered
            %thead
              %tr
                %th DESCRIPTION
                %th ITEM No.
                %th QTY
                %th
                  GST AMOUNT
                %th
                  AMOUNT PAYABLE
                  %br
                  (incl GST)
            %tbody
              - subTotalExcGST = 0
              - subGST = 0
              - subPayable = 0
              - subQuantity = 0
              - teeSizes = ''
              - neworderproducts = OrderedProduct.where(:order_id => order.id).order("ordered_products.size ASC")
              - neworderproducts.each do |ordered|
                %tr
                  %td
                    - if order.website.name == 'FanTees'
                      FAN0#{order.product_id}
                    - else
                      JOB0#{order.product_id}

                    (#{ordered.category.name})(#{ordered.size})
                    - teeSizes += "#{ordered.category.name} (#{ordered.size})"
                  %td

                    - if order.website.name == 'FanTees'
                      FAN0#{order.product_id}
                    - else
                      JOB0#{order.product_id}

                  %td
                    = ordered.quantity
                    - subQuantity += ordered.quantity
                  - subTotalExcGST += ordered.price_and_profit[:amount] - (ordered.price_and_profit[:amount].to_f/11) * ordered.quantity
                  %td
                    = number_to_currency(ordered.price_and_profit[:amount].to_f/11, locale: :us)
                    - subGST += ordered.price_and_profit[:amount].to_f/11
                  %td
                    = number_to_currency(ordered.price_and_profit[:amount] * ordered.quantity, locale: :us)
                    - subPayable += ordered.price_and_profit[:amount] * ordered.quantity

              %tr
                %td Total
                %td
                %td
                  = subQuantity
                %td
                  = number_to_currency(subGST, locale: :us)
                %td
                  = number_to_currency(subPayable, locale: :us)

          %table.table.table-bordered
            %tbody
              %tr
                %td.text-right TOTAL GST AMOUNT PAYABLE
                %td
                  = number_to_currency(subGST, locale: :us)

              %tr
                %td.text-right TOTAL SHIPPING FEE
                %td
                  - totaShipFee = 0
                  - shippingFee.each do |shipFee|
                    - totaShipFee += shipFee.to_f

                  - if subQuantity.to_i != 1
                    - totaShipFee = 0
                  = number_to_currency(totaShipFee, locale: :us)
              %tr
                %td.text-right TOTAL AMOUNT PAYABLE (incl GST)
                %td
                  = number_to_currency(subPayable + totaShipFee, locale: :us)

    .container
      .row
        &nbsp;

    .container
      .row
        %p.text-center{:style => "font-size: 12px; text-align:center"}
          FANTEES PTY LTD | ABN 94 169 579 444
          %br
          BRENDALE BUSINESS HUB, PO BOX 5583, BRENDALE DC QLD 4500
          %br
          1300 76 65 67 | SUPPORT@FANTEES.COM.AU
        %hr
        %br



    .container
      .row
        .col-md-6{:style => "width: 90%; float:left"}
          %p
            %span{:style => "font-weight:normal; font-size:22px;"}
              = shipping_info['Name']
              &nbsp; &nbsp;
              = order.order_id
          %p{:style => "padding:0px"}
            %span{:style => "font-weight:bold; font-size:25px; "}
              = order.product.title

          %p{:style => "padding:0px"}
            - groupOrder = order.ordered_products.group_by {|item| item[:product_id]}
            - groupOrder.each do |key, val|
              - pName = Product.find(key)
              %span{:style => "font-weight:bold; font-size:18px; "}
                = pName.title
              %br

              - val.each do |ordered|
                %span{:style => "font-weight:normal; font-size:18px; margin-left:10px;"}
                  #{ordered.quantity} x #{ordered.category.name} (#{ordered.size})
                %br
          %p
            %span{:style => "font-weight:bold; font-size:28px;"}
              = subQuantity
            %span{:style => "font-weight:normal; font-size:20px;"}
              Total
              - if subQuantity == 1
                Item
              - else
                Items
        .col-md-6{:style => "width: 10%; float:right"}
          %p
            %span{:style => "font-weight:bold; font-size:28px;"}
              = order.user.orders.count
        .div{:style => "clear: both;"}
        .div{:style => "font-weight:bold; margin-top: 10px"}
          - order.generate_barcode
          .div{:style => "width: 262px; text-align: center; color: black; font-size: 16x"}
            %img{:src => order.barcode.url(:original)}
            = order.order_id

        - count += 1

    - if count < @orders.count
      .container
        .row
          #line_items
            &nbsp;




