
- @orders.each do |order|
  - shipping_info = JSON.parse(order.shipping_info)
  .container
    .row
      %p.text-center{:style => "text-align:center"}
        %img{:src => "/assets/fantees_logo.jpg"}
      %h3.heading1{:style => "text-align:center"}
        Australia's Number 1 Fan Site...
        %br

        www.FanTees.com.au
  .container
    .row
      .col-md-6{:style => "width: 50%; float:left;"}
        %h4
          TO:
          %br
          = shipping_info['Name']
          %br
          = shipping_info['Street1']
          %br
          = shipping_info['CityName']
          = shipping_info['StateOrProvince']

          = shipping_info['PostalCode']
          %br
          = shipping_info['CountryName']

      .col-md-6.text-right{:style => "width: 50%; float:right;"}
        %h4{:style => "text-align:center"}
          DATE:
          = order.created_at.strftime("%m/%d/%Y")

        %h4{:style => "text-align:center"}
          %strong TAX INVOICE NO.
          = order.order_id
      .div{:style => "clear: both;"}

    .row
      .col-md-12
        %table.table.table-bordered
          %thead
            %tr
              %th DESCRIPTION
              %th ITEM No.
              %th QTY
              / %th
              /   UNIT PRICE
              /   %br
              /   (excl GST)
              / %th
              /   SUB TOTAL
              /   %br
              /   (excl GST)
              %th
                GST AMOUNT
              %th
                AMOUNT PAYABLE
                %br
                (incl GST)
          %tbody
            - subTotalExcGST = 0
            - subGST = 0
            - subPayable = 0
            - subQuantity = 0
            - teeSizes = ''
            - order.ordered_products.each do |ordered|
              %tr
                %td
                  / #{order.product.title} (#{ordered.category.name})(#{ordered.size})
                  - if order.website.name == 'FanTees'
                    FAN0#{order.product_id}
                  - else
                    JOB0#{order.product_id}

                  (#{ordered.category.name})(#{ordered.size})
                  - teeSizes += "#{ordered.category.name} (#{ordered.size})"
                %td

                  - if order.website.name == 'FanTees'
                    FAN0#{order.product_id}
                  - else
                    JOB0#{order.product_id}

                %td
                  = ordered.quantity
                  - subQuantity += ordered.quantity
                / %td

                /   = number_to_currency(ordered.price_and_profit[:amount] - (ordered.price_and_profit[:amount]/11), locale: :us)

                / %td

                /   = number_to_currency(ordered.price_and_profit[:amount] - (ordered.price_and_profit[:amount]/11) * ordered.quantity, locale: :us)
                - subTotalExcGST += ordered.price_and_profit[:amount] - (ordered.price_and_profit[:amount].to_f/11) * ordered.quantity
                %td
                  = number_to_currency(ordered.price_and_profit[:amount].to_f/11, locale: :us)
                  - subGST += ordered.price_and_profit[:amount].to_f/11
                %td
                  = number_to_currency(ordered.price_and_profit[:amount], locale: :us)
                  - subPayable += ordered.price_and_profit[:amount]

            %tr
              %td Total
              %td
              / %td
              / %td
              %td
                = subQuantity
                / = number_to_currency(subTotalExcGST, locale: :us)
              %td
                = number_to_currency(subGST, locale: :us)
              %td
                = number_to_currency(subPayable, locale: :us)

        %table.table.table-bordered


          %tbody
            / %tr
            /   %td.text-right TOTAL (excl GST)
            /   %td
            /     = number_to_currency(subTotalExcGST, locale: :us)

            %tr
              %td.text-right TOTAL GST AMOUNT PAYABLE
              %td
                = number_to_currency(subGST, locale: :us)
            %tr
              %td.text-right TOTAL AMOUNT PAYABLE (incl GST)
              %td
                = number_to_currency(subPayable, locale: :us)

  .container
    .row
      &nbsp;

  .container
    .row
      %p.text-center{:style => "font-size: 12px; text-align:center"}
        FANTEES PTY LTD | ABN 94 169 579 444
        %br
        BRENDALE BUSINESS HUB, PO BOX 5583, BRENDALE DC QLD 4500
        %br
        02 8006 2297 | SUPPORT@FANTEES.COM.AU
      %hr
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br

  .container
    .row
      .col-md-6{:style => "width: 60%; float:left"}
        %h4

          = shipping_info['Name']
          %br
          = shipping_info['Street1']
          %br
          = shipping_info['CityName']
          = shipping_info['StateOrProvince']

          = shipping_info['PostalCode']
          %br
          = shipping_info['CountryName']

      .col-md-6{:style => "width: 40%; float:right"}
        %h4
          = order.product.title
          %br
          = teeSizes
      .div{:style => "clear: both;"}
  .container
    .row
      #line_items
        &nbsp;




