%div{ng: {controller: "PagesCtrl"}}
  #content-wrapper{style: "min-height: {{height}}"}
    .container
      .row
        .col-md-12.text-center
          %h2 Welcome To JobTees.com.au
          %p The Only Online Apparel Shop Specializing In Job Specific Apparel Design
          .spacer30
          %h2 How Can We Help You Today?
          .spacer30
        .clearfix
        .col-md-6.text-right
          %a.btn-sm-custom{href: "/dashboard/#/orders"} View Your Orders
        .col-md-6.text-left
          %a.btn-sm-custom{href: "/contact-us"} Contact Our Support Team
        .clearfix
        .spacer30
        .col-md-12.text-center
          %h2 Our Latest Designs
          .spacer30

        - @products.each do |p|
          .col-md-4.col-sm-4.col-xs-4.text-center
            %img{alt: "Front", src: p.product_images.first.product_image(:medium)}
            .spacer30
            %a.btn-sm-custom{href: "/#{p.slug}"} Buy Now

        .clearfix
        .col-md-6.visible-xs
          / col-md-6
          %p
            %span.dark
              Order 2 or more and SAVE on shipping!
              %br/
              We Now Ship Worldwide!
          %p
            %span.dark Trouble ordering?
            %br/
            Contact JobTees Customer Support! +1 (855) 833-7774.

  = render "products/pre_footer"