<style>
table.barby-barcode { border-spacing: 0; height: 300px; }
tr.barby-row {}
td.barby-cell { width: 3px; height: 3px; }
td.barby-cell.on { background: #000; }
</style>
<p>Thank you for your reservation with Ryan's Beard Airlines. Please print this confirmation page and bring it with you to the check-in.</p>


<%= @p.get_eye_readable_article_no%>
<img src="<%= barcode_url(params[:id]) %>"/>