%div{ng: {controller: "PagesCtrl"}}
  #content-wrapper{style: "min-height: {{height}}"}
    .container
      .row
        .col-md-6.visible-xs.text-center
          %h2 Woohoo!
          %p
            = "You just reserved a #{@product.title}. Help us reach our goal by sharing your support!"
          .social-square
            %a{href: pinterest_share(@product), target: "_blank"}
              = image_tag "pinterest-icon.png", {alt: "Pinterest"}
            %a{href: twitter_share("#{root_url}#{@product.slug}"), target: "_blank"}
              = image_tag "twitter-square-icon.png", {alt: "Twitter"}
            %a{href: fb_share("#{root_url}#{@product.slug}"), target: "_blank"}
              = image_tag "fb-square-icon.png", {alt: "Facebook"}

        .col-md-6
          .big-img.text-center
            = image_tag @product.product_images.first.product_image(:medium)

        .col-md-6.hidden-xs
          %h2{style: "font-size: 32px"} Woohoo!
          %p
            = "You just reserved a #{@product.title}. Help us reach our goal by sharing your support!"
          .social-square.text-center
            %a{href: pinterest_share(@product), target: "_blank"}
              = image_tag "pinterest-icon.png", {alt: "Pinterest", style: "height: 80px"}
            %a{href: twitter_share("#{root_url}#{@product.slug}"), target: "_blank"}
              = image_tag "twitter-square-icon.png", {alt: "Twitter", style: "height: 80px"}
            %a{href: fb_share("#{root_url}#{@product.slug}"), target: "_blank"}
              = image_tag "fb-square-icon.png", {alt: "Facebook", style: "height: 80px"}

        .col-md-6
          .thanks-info
            %span.dark Your order will be sent to
            %p
              - shipping_info = ActiveSupport::JSON.decode(@order.shipping_info)
              = "#{shipping_info['Name']}, #{shipping_info['Street1']}, #{shipping_info['CityName']}, #{shipping_info['StateOrProvince']}, #{shipping_info['CountryName']}, #{shipping_info['PostalCode']}"
            %p
              %a.chamge{href: "/dashboard/#/orders/#{@order.order_id}"} Change your shipping Address
            %span.dark
              We sent a receipt to your email. You can expect your order to arrive 7-14 days after the end of the campaign!


  = render "products/pre_footer"

= ge_ecommerce_js(@order)