%div{:'ng-controller' => "PagesCtrl"}
  #content-wrapper{style: "min-height: {{height}}"}
    / content-wrapper
    .container
      / container
      .row
        / row
        %h2 FAQ
        %p
        %h3 How long does it take for my shirt to be delivered?
        %p Your shirt will arrive 5-7 business days from the end of the campaign. If your order hasn’t arrived inside the estimated delivery times, please contact our support team.
        %p
        %h3 How much does shipping cost?
        %p Domestic shipping around Australia comes at no charge, if you are outside of Australia and wishing to purchase a shirt please contact our support team so we can discuss the shipping terms.
        %p
        %h3 Who designs the t-shirts?
        %p The designs are 100% original and are designed by us here at JobTees.com.au
        %p
        %h3 Where are the t-shirts printed?
        %p We screen print the designs on the t-shirts here locally in Brisbane, Australia ensuring you’ll be receiving the highest quality t-shirts possible.
        .clearfix
      / row
    / container
  / content-wrapper
  = render "products/pre_footer"