%div{:'ng-controller' => "PagesCtrl"}
  #content-wrapper
    / content-wrapper
    .container
      / container
      .row
        / row
        %h2 Privacy Policy
        %p Graphics Admin Group Limited, the publisher of this website (hereinafter “the publisher”) understands how important your privacy is. That is why whenever we deal with any personal details, or information about you, we always act in accordance with the Personal Data (Privacy) Ordinance of Hong Kong.
        %p
          %strong Your Personal Information
        %p Personal Information is defined as any information or opinion about you. This can include a variety of general information, such as your address and phone number, to more detailed and sensitive information, such as your annual income or pre-existing medical conditions. The publisher will collect personal information from time to time, but only when a person actively submits the information. As a rule, we do not collect, nor have any use for, information about your religious orientation, sexual orientation, medical conditions, ethnic origin etc.
        %p
          %strong Who Collects Your Personal Information
        %p Your personal information will only be collected by an authorised representative of the publisher. These representatives are generally employees of the publisher, who have been specifically trained to collect and deal appropriately with the sensitive nature of the information we require. Under no circumstances will your personal information ever be disclosed, sold or passed on to a third party, unless specifically and explicitly authorised by you.
        %p
          %strong How Your Information Will Be Collected
        %p The publisher will only collect the information when customers of the publisher enter that information through the website. This information will be collected from you directly when you express an interest in becoming a client / customer of the publisher. Such information will be collected in a variety of ways:
        %p
          1. Through registering your contact information and any other personal details online, through this Website;
          2. When you complete an electronic, online form through this website at the abovementioned URL;
          3. When you complete a hard copy, printed form obtained either directly from the publisher from a sales representative, or through this website at the abovementioned URL;
          4. When you contact the publisher directly by phone or in person.
        %p
          %strong Storage
        %p The publisher takes great care to store your personal information in such a way as to protect such information from unauthorised access. Your personal information will be stored in a combination of secure computer storage, paper based secure files and other secure recording devices. The publisher makes every effort to ensure your personal information is not lost, misused, stolen, disclosed or abused by anyone.
        %p
          %strong Using Your Personal Information
        %p
          The publisher will only use the personal information you have provided in the following but not limited to, situations:
          to advise clients / customers of up-coming exclusive and non-exclusive offers
          to provide clients / customers with any information that they have requested
          to assist clients / customers in any way in which they request assistance.
        %p
          %strong Disclosure of Your Personal Information
        %p The publisher will not disclose your personal information in any form, for any reason whatsoever. You personal details and email address will never be sold, traded, given away, disclosed to other users unless requested or allowed by you, or generally disclosed for any reason whatsoever.
        %p
          %strong Keeping Records
        %p The publisher make all reasonable effort to ensure that any personal information that we collect, use and disclose, is correct. However, should any of the personal details and information that we collect, change in any way, it would be appreciated if you could advise the publisher so that our records can be updated and continue to be of service to you.
        %p
          %strong Gaining Access to Personal Information
        %p Should you wish to access the personal information we have collected from you, for any reason whatsoever, following a written request, we shall act in accordance with the Personal Data (Privacy) Ordinance of Hong Kong and provide you with a copy of all relevant personal information we hold about you.
        %p
          %strong Contacting Us
        %p Should you wish to access your personal information, please speak to
        %p
          Attn: Privacy Officer of Thrds
          Graphics Admin Group
          Shop 5, G/F., 1-17 Yan Hing Street,
          Tai Po, N.T., Hong Kong.
        %p
          Hong Kong: (852) 8179 9676
          United Kingdom: (02) 3290 9889
          United States: (415) 992 7746
          Australia: (02) 8006 2297
        %p
          Email:
          %a{href: "mailto:support@thrds.co"} support@thrds.co
        .clearfix
      / row
    / container
  / content-wrapper

  = render "products/pre_footer"