li.shirt-color-sample{
  margin: 0;
  padding: 0;
  list-style: none;
  &.bordered{
    border: 2px solid #fff;
  }
}

.fileinput-button input {
  position: static;
  opacity: 1;
  filter: none;
  font-size: inherit;
  direction: inherit;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.produc-designer__next{
  margin-top: 20px;
  button{
    width: 100%;
  }
}

ul.nav.tees{
  border: 1px solid #ccc;
  // width: 200px; 
  height: 450px; 
  overflow: scroll;
}