#product_designer textarea,
#product_designer textarea:hover,
#product_designer textarea:active,
#product_designer textarea:focus {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  resize: none;
  overflow: hidden;

  outline:0px !important;
  -webkit-appearance:none;
  -webkit-box-shadow:none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
  -webkit-border-radius: none;
}
#canvasBackgroundImage{
  background-size: cover;
  background-position: center top;
}