/*font-family: 'Lato', 'sans-serif';*/

@font-face {
    font-family: 'LatoBlack';
    src: font_url('lato-black.eot');
    src: font_url('lato-black.eot') format('embedded-opentype'),
         font_url('lato-black.woff') format('woff'),
         font_url('lato-black.ttf') format('truetype'),
         font_url('lato-black.svg#LatoBlack') format('svg');
}
@font-face {
    font-family: 'AllerBold';
    src: font_url('aller_bold.eot');
    src: font_url('aller_bold.eot') format('embedded-opentype'),
         font_url('aller_bold.woff') format('woff'),
         font_url('aller_bold.ttf') format('truetype'),
         font_url('aller_bold.svg#AllerBold') format('svg');
}

body {
  color:#2c3e50;
  font-family: 'Lato','sans-serif';
}

.center{
  width:100%;
  margin:0 auto;
  max-width:1450px; 
}
.spacer{
  height:10px;
  clear:both; 
}
.spacer02{
  height:20px;
  clear:both; 
}

img, iframe{
  max-width:100%; 
}
/*menubar*/
#menubar .logo{
  margin-top:10px;
}
#menubar{
  padding:20px 0;
  background:#e6e6e6;
  border-top:1px solid #e8e8e8;
  border-bottom:1px solid #fcfcfc;  
}
#menubar nav{
  margin-top:7px; 
}
nav li a{
  font-family: 'AllerBold';
  font-size:15px;
  color:#2d4154;
  text-transform:uppercase;
  padding: 7px !important;  
}
.icon-bar{
  background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    height: 2px;
}
.navbar-toggle {
    background: none repeat scroll 0 0 #6f6f6f;
}
#menubar .rick{
  float:right;  
}
.nav-pills{
  margin-top:0;
}
.nav-rick{
  float:left; 
  margin-top:0;
}
.hi-rick img{
  margin-right:10px;
}
.hi-rick{
  float:left;
  margin:7px; 
  font-family: 'Lato', 'sans-serif' !important; 
}

#main-content h1{ 
  color: #304153;
    font-family: 'LatoBlack';
    font-size: 20px;
    margin: 20px 0 30px;
}
#main-content .all-box{
  border:1px solid #cfcfcf;
  border-radius:5px;  
  margin-bottom:20px;
}
#main-content .all-box-header{
  background:#efefef;
}
#main-content .all-box-content{
  padding:20px 10px;  
}
#main-content .all-box-footer{
  border-top:1px solid #e9e9e9;
  background:#efefef;
  box-shadow:0 -1px 0 #cfcfcf;
  padding:10px 15px 10px 0;
}
#main-content .all-box-header p{
  margin:0;
  border-bottom:1px solid #ebebeb;
  box-shadow:0 1px 0 #cfcfcf;
  padding:10px; 
  color: #444444;
    font-family: 'LatoBlack';
    font-size: 14px;
}

/*section01*/
#main-content .all-box-header p span{
  background:#45acd0;
  color:#ffffff;
  float:right;
  padding:2px 5px;
  border-radius:3px;
  border-top:1px solid #abd4e3;
}
#main-content .section01 .all-box-content p{
  margin:0;
  text-align:right;
  padding-right:15px;
}
#main-content .section01 .all-box-content .green-num{
  color:#85af4d;
  font-size:36px;
  margin:0; 
  font-family: 'LatoBlack';
  text-align:right;
}
#main-content .section01 .all-box-footer p{
  margin:0; 
  text-align:right;
}
#main-content .section01 .all-box-footer p:first-child{
  margin:0;
  color: #2c3e50 !important;
    font-family: 'Lato', 'sans-serif';
  font-weight:700;
    font-size: 18px;
  color:#2c3e50;
  
  
}
#main-content .section01 .all-box-footer p span,
#main-content .section01 .all-box-content p span{
  font-size:14px;
  color:#2c3e50;
  font-family: 'Lato', 'sans-serif';
  font-weight:400;
}

/*section02*/
.section02 .all-box-content p{
  display:inline; 
}
.section02 .all-box-content p a{
  border-bottom:2px solid #bedeec;
  color:#6cbad7;
  margin-right:15px;
}

/*table*/

.table td{
  font-family: 'Lato', 'sans-serif';
  font-weight:500;
  font-size:13px;
  color:#2c3e50;
  text-indent:15px;

}
.table .th-header td{
  background:#efefef;
  font-weight:700;
  text-indent:0;
}
.table .total td{
  background:#efefef;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #cfcfcf;
}


/*footer*/
#footer{
  height:60px;
  background:#3e3e3e; 
  border-top:1px solid #a5a5a5;
  border-bottom:1px solid #a5a5a5;
}
.dp3 {
    background: url("../calendar-icon-sm.jpg") no-repeat scroll 8px center rgba(0, 0, 0, 0);
    border: 2px solid #dee1e3;
    border-radius: 5px;
    padding: 5px 10px 5px 30px;
    max-width:200px;
  float:right !important;
  
}
.dp03{
  margin-top:-20px; 
}

#bar-chart, #bar-chart01, #bar-chart02, #bar-chart03, #line-chart, #pie-chart {
  margin:20px auto 0;
}

.legend {
  font-size:12px;
}

.pink-square {
  float:left;
  background:#f18462;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:3px;
}

.yellow-square {
  float:left;
  background:#fad46b;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:3px;
}

.green-square {
  float:left;
  background:#acc270;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:3px;
}

.light-blue-square {
  float:left;
  background:#45acd0;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:3px;
}

.yellow-orange-square {
  float:left;
  background:#f7b532;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:3px;
}

.dark-orange-square {
  float:left;
  background:#f07c00;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:3px;
}

.dark-red-square {
  float:left;
  background:#c0392b;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:3px;
}

.dark-blue-square {
  float:left;
  background:#2d4154;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:3px;
}

.dark-green-square {
  float:left;
  background:#84af4c;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:3px;
}

#pie-chart {
  float:left;
  margin-right:40px
}

.pie-chart-legend {
  margin-top:40px;
  float:left;
  text-transform:uppercase;
}

.pie-legend-size {
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
  display:block;
  text-align:left;
  padding:3px 0;
}

/************************************************************************ DESKTOP ************************************************/

@media only screen and (min-width:769px) and (max-width:1024px){


}

/************************************************************************ IPAD AND TABLETS ************************************************/

@media only screen and (min-width:481px) and (max-width:768px){
#menubar .col-md-2{
  text-align:center;  
}
#menubar .rick{
  float:left; 
}
}

/************************************************************************ MOBILE LANDSCAPE************************************************/

@media only screen and (max-width:480px) {
#menubar .rick {
    display: block;
    float: none !important;
    margin: 0 auto;
    width: 190px;
}
#menubar .col-md-2{
  text-align:center;  
}
#menubar .rick{
  float:left; 
} 
#pie-chart {
  float:left;
  margin-right:10px
}
}