/*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
300;400;700*/

@font-face {
	font-family: 'AllerBold';
	src: font_url('aller_std_bd.eot');
	src: font_url('aller_std_bd.eot') format('embedded-opentype'),  font_url('aller_std_bd.woff') format('woff'),  font_url('aller_std_bd.ttf') format('truetype'),  font_url('aller_std_bd.svg#AllerBold') format('svg');
}
body {
	font-family: 'Open Sans', sans-serif !important;
	color: #777 !important;
	font-size: 14px !important;
	line-height: 24px !important;
	background:#fff !important;
}
p {
	margin-bottom: 20px !important;
}
img, iframe {
	max-width: 100%;
}
.dark {
	color:#2d4154;
	font-weight:700;
}
.guarantee {
	color:#2d4154;
	font-size:18px;
	font-weight:700;
}
hr {
	border-color:#AFAFAF !important;
}
h2 {
	font-family: 'AllerBold';
	font-size:24px;
	margin:0 0 10px;
	padding:0;
	color:#2d4154;
	line-height:normal;
}
.change {
	text-decoration:underline;
}
#header-wrapper {
	padding:20px 0;
	background:#2d4154;
}
#content-wrapper {
	padding:40px 0;
}
#pre-footer-wrapper {
	padding:40px 0;
	background:#eaeaea;
}
#footer-wrapper {
	padding:20px 0;
	background:#2d4154;
}
.copyright {
	display:inline-block;
	font-size:14px;
	color:#fff;
	padding-top:5px;
}
.copyright a {
	display:inline-block;
	padding:0 15px;
	color:#fff;
}
.big-img{
	padding:40px 0;
	border:1px solid #afafaf;
	border-radius:3px;
	margin-bottom:20px;
}
.big-img02{
	padding:40px;
	border:1px solid #afafaf;
	border-radius:3px;
	margin-bottom:20px;
}
.btn-sm-custom {
	background:#2ecc71;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-size:18px;
	font-family: 'AllerBold';
	padding:12px 0;
	box-shadow:0 -2px 0 #27ae60 inset;
	width:50%;
	margin-bottom:20px;
}
.btn-big-custom {
	background:#2ecc71;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-size:24px;
	font-family: 'AllerBold';
	padding:20px 0;
	box-shadow:0 -2px 0 #27ae60 inset;
	margin-bottom:20px;
	width:75%;
}

.btn-sm-custom:hover,.btn-sm-custom:focus, .btn-big-custom:hover,.btn-big-custom:focus,.login-div input[type="submit"]:hover, .login-div input[type="submit"]:focus {
	box-shadow:none;
	color:#fff;
	text-decoration:none;
	opacity:0.9;
}
.progress {
	width:75%;
	border-radius: 15px;
	height:18px;
	background:#ecf0f1;
	border:1px solid #d6d6d6;
}
.progress-bar-success{
	background:#1abc9c !important;
}
.left-to-buy {
	color:#777777;
	background:url(/assets/clock-icon.png) no-repeat left 1px;
	font-weight:700;
	padding-left:20px;
	display:inline-block;
}
.learn-more ul, .your-account ul {
	margin:0;
	padding:0;
	list-style:none;
}
.thumb-hover {
	display:inline-block;
	background:#edeef0;
	padding:10px;
	min-height:100px;
	vertical-align:center;
}
.thumb-hover:hover, .current {
	display:inline-block;
	border:1px solid #3c5eb3;
	background:#e4ebf8;
	padding:10px;
	min-height:100px;
	vertical-align:center;
}
.social-square {
	margin-bottom:20px;
}
.social-square a {
	display:inline-block;
	margin-right:10px;
}
.login-div {
	max-width:550px;
	margin:0 auto;
	width:100%;
}
.login-div label {
	font-weight:normal;
	display:block;
	text-align:right;
	padding: 10px 20px;
	font-size:16px;
}
.login-div input[type="email"], .login-div input[type="password"]{
	width:85%;
	padding:10px;
	border:1px solid #dedede;
	border-radius:5px;
	margin-bottom:20px;
}
.login-div input[type="submit"] {
	background:#3498db;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-size:16px;
	font-family: 'AllerBold';
	padding:10px 0;
	box-shadow:0 -2px 0 #2c81ba inset;
	margin-bottom:20px;
	width:60%;
	cursor:pointer;
	margin-top:20px;
	border:none;
	text-transform:uppercase;
}
.menu-div{
	border:2px solid #bdc3c7;
	max-width:280px;
	margin:0 auto 40px;
}
.icon-div {
	padding:40px;
	min-height:240px;
}
.add-boxes:hover {
	text-decoration:none;
	color:#fff;
	opacity:0.8;
}
.add-text {
	background:#1abc9c;
	color:#fff;
	font-size:18px;
	font-family: 'AllerBold';
	padding:15px 0;
	display:block;
}
.tee {
	max-width:280px;
	margin:20px auto;
	background:#2ecc71;
	min-height:140px;
}
.hat {
	max-width:280px;
	margin:20px auto;
	background:#f39c12;
	min-height:140px;
}

.key-ring {
	max-width:280px;
	margin:20px auto;
	background:#3498db;
	min-height:140px;
}

.mens-tee {
	max-width:280px;
	margin:20px auto;
	background:#2ecc71;
	min-height:140px;
}
.womens-tee {
	max-width:280px;
	margin:20px auto;
	background:#f39c12;
	min-height:140px;
}

.hoodie-gildan {
	max-width:280px;
	margin:20px auto;
	background:#f39c12;
	min-height:140px;
}

.hoodie {
	max-width:280px;
	margin:20px auto;
	background:#3498db;
	min-height:140px;
}

.unisex-tee {
	max-width:280px;
	margin:20px auto;
	background:#2ecc71;
	min-height:140px;
}

.slots-title {
	color:#fff;
	display:block;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:24px;
	padding:10px;
}
.slot-number {
	color:#fff;
	display:block;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:48px;
	padding:20px 0px;
	text-align:center;
}
.view-all {
	border-radius:5px;
	background:#1abc9c;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:24px;
	display:block;
	max-width:280px;
	padding:15px 0;
	color:#fff;
	margin-top:40px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}
.view-all:hover, .view-all:focus {
	color:#fff;
	text-decoration:none;
	opacity:0.8;
}
.navbar {
	margin:0;
	background:none;
	border:none;
	box-shadow:none;
	min-height:0;
	float:right;
}
.nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
.navbar-nav li a{
	font-family: 'AllerBold';
	color:#fff !important;
	padding:5px 15px;
	text-transform:uppercase;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background:none;
}
.dropdown-menu li a{
	color:#2D4154 !important;
}
.dropdown-menu li a:hover{
	color:#fff !important;
	background:none;
}
.navbar-nav li a:hover{
	color:#3498DB !important;
}
.circle i{
	color: #e04c4c;
	border: 0;
}
#dropdownMenu1{
	padding: 2px !important;
	border: 0 !important;
}
.author {
	display:inline-block;
	padding:0 10px;
	margin-top:-10px;
}
.author img {
	border-radius:50px;
}
.caret {
	border-width: 7px 7px 0;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
   border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
textarea{
	padding:10px;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	margin:20px 0;
}
input[type="text"],input[type="search"],input[type="number"],input[type="password"]{
	padding:10px;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	margin:20px 0;
}
input[type="date"] {
	color:#777777 !important
}
textarea {
    margin-left: 15px;
    width: 97.5%;
}
select {
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	margin:20px 0;
	padding:9px;
}
.search-product input[type="submit"] {
    background: url("/assets/search-icon-sm.png") no-repeat scroll 95% center rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    float: right;
    height: 16px;
    margin: -49px 10px 0;
    position: relative;
    width: 16px;
    z-index: 999;
}
.edit-order, .edit-address {
	padding:20px;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	margin:20px 0 0;
	min-height: 170px;
}
.edit-order img{
	padding:20px;
	border:1px solid #bdc3c7;
	float:left;
	margin-right:20px;
}
.order-label{
	color:#2c3e50;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:18px;
}

.order-id, .order-date {
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:18px;
	color:#2c3e50;
	display:block;
}
.edit-order-btn {
	background:#3498db;
	display:inline-block;
	float:right;
	color:#fff;
	padding:10px 40px;
	font-size:16pxpx;
	border-radius:5px;
	box-shadow:0px -2px 2px #2c81ba inset;
	margin-top:35px;
}
.edit-order-btn:hover, .edit-order-btn:focus, .save:hover, .save:focus {
	box-shadow:none;
	color:#fff;
	text-decoration:none;
	opacity:0.8;
}
.table-responsive {
	margin-top:20px;
}
.table {
	border-radius:5px;
	color:#2c3e50;
	border:2px solid #ecf0f1;
}
.table a {
	color:#2c3e50;
}
.table-heading {
	font-family: 'Lato', sans-serif;
	font-weight:700;
	color:#2c3e50;
	text-align:center;
}
.table-heading-stats {
	font-family: 'Lato', sans-serif;
	font-weight:700;
	color:#2c3e50;
}
.order-table-id {
	text-align:center;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
	border:2px solid #ecf0f1;
}
.price {
	width:31% !important;
	border:1px solid #bdc3c7;
	border-radius:5px;
	padding:8px 10px !important;
	margin-right:12px !important;
}
.product-type {
	width:31% !important;
	border:1px solid #bdc3c7;
	border-radius:5px;
	padding:5px 10px !important;
}
#dp2 {
	width:31%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	padding:5px 5px 5px 30px;
	background:url(/assets/calendar-icon-sm.jpg) no-repeat 8px center;
	/*margin-right:12px !important;*/
}
#dp3 {
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	padding:10px 10px 10px 30px;
	background:url(/assets/calendar-icon-sm.jpg) no-repeat 8px center;
	margin:20px 0 !important;
}

#s2id_e1 {
	width:31%;
	border-radius:5px;
}
#s2id_e2 {
	width:60% !important;
}
#s2id_e4 {
	width:75% !important;
}
#s2id_e3 {
	width:100%;
	border-radius:5px;
	margin:20px 0;
}
#s2id_e3 .select2-choice{
	color: #777777 !important;
	display:block;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	height:44px !important;
	line-height: 42px !important;
	margin-top:-1px;
}
#s2id_e3 .select2-arrow b {
    background: url("/assets/select2.png") no-repeat scroll -2px -2px #1ABC9C;
    display: block;
    padding: 22px;
}
#s2id_e3 .select2-arrow{
	width:36px;
}
.select2-choice{
	color: #777777 !important;
	display:block;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	height:33px !important;
	line-height: 30px !important;
	margin-top:-1px;
}
.product-tile, .tee-url {
	width:60% !important;
	padding:8px 10px !important;
	margin-bottom:0px !important;
}
.tee-url {
	margin-bottom:20px !important;
}
.select2-container .select2-choice .select2-arrow {
	width:30px;
}
.note-editor .note-editable {
	overflow:hidden;
}
.save {
	border:none;
	border-radius:5px;
	background:#3498db;
	color:#fff;
	cursor:pointer;
	text-transform:uppercase;
	padding:10px 60px;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:0px -2px 2px #2c81ba inset;
}
.thumbs-vertical .thumb-hover {
	margin-bottom:20px;
	float:left;
	margin-right:10px;
}
.bootstrap-switch {
	margin-top:20px;
	width:220px;
}

.bootstrap-switch > div > span.bootstrap-switch-primary {
	background:#1ABC9C;
}

.footer-icons {
	float:right;
}

.size-info{
	display:inline-block;
	margin:20px 0;
	font-weight:700;
}
.colors {
	float:left;
	width:100%;
	margin-bottom:40px;
}
.shirt-color {
	display:inline-block;
	float:left;
	font-weight:700;
	margin-right:10px;
}
.black-div {
	float:left;
	margin-left:10px;
	padding-bottom:10px;
}
.black-swatch {
	float:left;
	display:block;
	width:20px;
	height:20px;
	background:#000;
	border:2px solid #cfd1d7;
}

.blue-swatch {
	float:left;
	display:block;
	width:20px;
	height:20px;
	background:#383cb2;
	border:2px solid #cfd1d7;
}

.violet-swatch {
	float:left;
	display:block;
	width:20px;
	height:20px;
	background:#282a51;
	border:2px solid #cfd1d7;
}
.black-div:hover, .swatch-current {
	background:url(/assets/swatch-indicator.png) no-repeat center bottom;
}
.black-div:hover a, .swatch-current a{
	border:2px solid #3c5eb3;
}
.dropdown-menu-link {
    background: url("/assets/bars.png") no-repeat scroll right 10px rgba(0, 0, 0, 0) !important;
    color: #FFFFFF !important;
    font-family: 'AllerBold';
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: -3px;
    padding-bottom: 0 !important;
    padding-right: 60px !important;
    text-transform: uppercase;
}
.dropdown-menu-link:hover {
	color:#fff;
	background:url(/assets/bars.png) no-repeat right 10px transparent !important;
}
.dropdown-menu02 li a:hover > .dropdown-menu-link{
	background:url(/assets/bars.png) no-repeat right 10px transparent !important;
}
.dropdown-menu02 {
	padding:20px 10px !important;
	top:52px;
	right:0;
}
.dropdown-menu02 li a, .dropdown-menu02 li a:hover {
	color:#428BCA !important;
	padding:5px 10px;
}
.navbar-collapse {
	border-top:none;
}
.product-price {
	font-family: 'AllerBold';
	display:inline-block;
	color:#fff;
	padding:12px 10px;
	font-size:26px;
	position:absolute;
	background:#1abc9c;
	right:0;
	margin-top:-20px;
}
.front-back {
	color:#2d4154;
	font-family: 'AllerBold';
	display:block;
	text-align:center;
	font-size:18px;
}
.front-back a {
	color:#2d4154;
}
.fraction {
	color:#2d4154;
	font-family: 'AllerBold';
	font-size:22px;
	display:block;
	text-align:center;
}
.pre-ordered {
	color:#2d4154;
	font-family: 'AllerBold';
	font-size:18px;
	display:block;
	text-align:center;
}

/************************************************************************ IPAD AND TABLETS ************************************************/

@media only screen and (min-width:481px) and (max-width:768px){

.navbar  {
	float:none;
}

.dropdown-menu-link {
	float:right;
	margin-top:-30px;
}
.dropdown-menu02 {
	top:25px;
	right:0;
}
.dropdown-menu02 li a, .dropdown-menu02 li a:hover {
	color:#428BCA !important;
}
.navbar-header {
	margin-top:10px;
}
.navbar-header .brand{
	background: url("/assets/bars.png") no-repeat scroll right 0px rgba(0, 0, 0, 0) !important;
    color: #FFFFFF !important;
    font-family: 'AllerBold';
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 0 !important;
    padding-right: 60px !important;
    text-transform: uppercase;
}
.navbar-default .navbar-toggle {
	border:none;
	padding:20px 22px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background:none;
}
h2 {
	padding-left:20px;
}
}

/************************************************************************ MOBILE LANDSCAPE************************************************/

@media only screen and (max-width:480px) {
.thanks-info {
	text-align:center;
}
h2 {
	padding-left:20px;
}
.client-details {
	width:90.5%;
}
.navbar-header .brand{
	background: url("/assets/bars.png") no-repeat scroll right 0px rgba(0, 0, 0, 0) !important;
    color: #FFFFFF !important;
    font-family: 'AllerBold';
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 0 !important;
    padding-right: 60px !important;
    text-transform: uppercase;
}
.navbar-default .navbar-toggle {
	border:none;
	padding:20px 22px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background:none;
}

.navbar-header {
	margin-top:10px;
}
.navbar-header .brand{
	color: #FFFFFF !important;
    font-family: 'AllerBold';
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 0 !important;
    text-transform: uppercase;
}
.dropdown-menu03 li a {
    color: #fff !important;
}
.dropdown-menu-link {
	float:right;
	margin-top:-30px;
}
.dropdown-menu02 {
	top:25px;
	right:0;
}
.dropdown-menu02 li a, .dropdown-menu02 li a:hover {
	color:#428BCA !important;
}
.guarantee, .guarantee-wrap, .copyright {
	text-align:center;
	display:block;
}

.price, #dp2, #s2id_e1, #s2id_e2, .bootstrap-switch, .save, #s2id_e4, .btn-big-custom, .progress, .btn-sm-custom{
	width:100% !important;
}
#s2id_e1 {
	margin:20px 0;
}
.navbar  {
	float:none;
}
.footer-icons {
	float:none;
	margin:20px 0;
	text-align:center;
}
}

/************************************************************************ SMARTPHONES ************************************************/

@media only screen and (max-width : 320px) {


}

.ta-editor {
  min-height: 200px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.ta-toolbar {
	padding-bottom: 5px;
}

.ta-toolbar .btn-group {
	padding: 5px 0;
}

.ta-toolbar .btn-group .btn{
	font-size: 13px;
	padding: 4px;
}

.category {
	font-weight: normal;
	margin: 0 20px 10px 0;
}

.category input {
	margin-right: 6px;
}


/************************** categories ***************************/
.form-category input {
	width: 85% !important;
}

.form-category ul {
	margin: 0;
	padding: 0;
}

.form-category ul li {
	list-style-type: none;
	padding: 0px 20px;
}

.form-category ul li a:hover {
	text-decoration: none;
}

#chart {
  height: 400px;
  width: 800px;
}

.order-info{
	border: 1px solid #BDC3C7;
  border-radius: 5px;
  margin: 20px 0 0;
  min-height: 170px;
  padding: 20px
}

/***************** edit product sizes ********************************/
.product-sizes {
	margin: 0;
	padding: 0
}

.product-sizes li {
	list-style-type:  none;
	display: inline-block;
	margin-bottom: 10px;
}

.product-sizes strong {
	display: block !important;
}

.product-sizes input {
	margin: 0 5px!important;
	width: 60px
}
/******************** new products view ***************************/
#content-wrapper .campaign-btn{
	background:#2ba3e6;
	border-radius:5px;
	border:medium none;
	color:#fff;
	font-family: "Lato";
	font-size:22px;
	font-weight:700;
	padding:10px 20px;
	margin-bottom:10px !important;
	text-decoration: none;
}

#content-wrapper .search-absolute {
	margin-right: 55px;
	margin-top: 15px;
	position: absolute;
	margin-left: 848px;
}

#content-wrapper .search-absolute .search input{
	border: 1px solid #B5BBC0;
  box-shadow: 0 0 1px #BDC3C7 inset;
  color: #34495E;
  font-family: "Lato";
  font-size: 14px;
	min-height:42px;
	margin-top: 0;
}
#content-wrapper .search-absolute .search button{
	background: no-repeat scroll center center #1ABC9C;
  border: medium none;
  min-height: 42px;
  min-width: 42px;
}
#content-wrapper .search-absolute .search button:hover, #content-wrapper .search-absolute .search button:focus{
	background:rgba(26,188,156,0.8) center center no-repeat;
}
#content-wrapper .search-absolute .input-group{
  max-width: 262px;
  width: 100%;
}

#content-wrapper .shirt-container{
	border:2px solid #e0e3e5;
	border-radius:5px;
	padding:20px;
	margin-bottom:20px;
}
#content-wrapper .shirt-container .col-md-8,
#content-wrapper .shirt-container .col-md-4{
	padding:0;
}
#content-wrapper .shirt-container button{
	padding:12px;
	border:none;
}
#content-wrapper .shirt-container button:hover{
	opacity:0.8;
}
#content-wrapper .shirt-container .checked-btn{
	background: #1abc9c url(/assets/checked-btn-bg.png) no-repeat center;
	border-left:1px solid #93dfd0;
	border-bottom:1px solid #85dbca;
	border-top:1px solid #f0fbf8;
	height: 26px;
    width: 26px;
}
#content-wrapper .shirt-container .x-btn{
	background: #1abc9c url(/assets/failed-btn.png) no-repeat center;
	border-left:1px solid #93dfd0;
	border-bottom:1px solid #85dbca;
	border-top:1px solid #f0fbf8;
	height: 26px;
    width: 26px;
}
#content-wrapper .shirt-container .setting-btn{
	background: #2d4154 url(/assets/setting-btn-bg.png) no-repeat center;
	border-right:1px solid #6b7986;
	border-bottom:1px solid #8f9aa4;
	border-top:1px solid #f1f2f4;
	margin-left:-4px;
}
#content-wrapper .shirt-container p{
	color: #2D4154;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

#content-wrapper .shirt-container p {
	margin-bottom: 0 !important;
}

#content-wrapper .shirt-container .bar-desc{
	font-size:12px !important;
	text-align: center;
}
#content-wrapper .shirt-container .progress{
	height: 11px;
	margin: 10px 0 0;
	width: 100%;
}

#content-wrapper .shirt-container .progress-bar{
	background:#1abc9c;
}

#content-wrapper .spacer02 {
	clear: both;
	height: 20px;
}

#content-wrapper .nav-rick li a{
	border-radius:0;
	padding:0;
}
#content-wrapper .nav li a img{
	margin-top:3px;
	height: 25px;
    width: 26px;
}
#content-wrapper .nav li a img:hover{
	opacity:0.8;
}
#content-wrapper .nav-rick{
	float: right;
	margin-top: 0;
}
#content-wrapper .dropdown-menu{
	background: none repeat scroll 0 0 #34495E;
    margin-left: -113px;
    margin-top: 12px;
    padding: 5px;
}
#content-wrapper .setting-arrow{
	margin:0;
}
#content-wrapper .dropdown-menu .setting-arrow li{
	text-align:left;
}
#content-wrapper .dropdown-menu .setting-arrow li a:hover{
	text-decoration:none;
}
#content-wrapper .dropdown-menu .setting-arrow li a{
	color:#fff !important;
	font-family: "Lato";
	font-size:15px;
	text-align:left !important;
	display:block;
}
#content-wrapper .dropdown-menu li:hover,#content-wrapper .dropdown-menu li a:hover{
	background:#1abc9c !important;
}
#content-wrapper .dropdown-menu li {
	padding:3px;
	border-radius:3px;
}
#content-wrapper .setting-arrow {
	background: url("/assets/setting-menu-arrow.png") no-repeat scroll right 20px top rgba(0, 0, 0, 0);
  margin-top: -14px;
  padding-top: 15px;
}

.nav-tabs{
	border-bottom: none;
	margin-left: 14px;
}
.nav-tabs li:first-child a{
	border-radius: 5px 0 0 5px;
}
.nav-tabs li:last-child a{
	border-radius: 0 5px 5px 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: #fff !important;
	background: #16a085;
	border: none;
	box-shadow: none;
	border-radius: none;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
	background: #1abc9c;
	border: none;
	box-shadow: none;
	border-radius: none;

}
.nav-tabs > li > a{
	border-radius: 0;
	margin: 0;
	color: #fff;
	font-size: 16px;
	font-family: 'Lato', 'sans-serif' !important;
	font-weight: 700;
	padding: 10px 7px !important;
}
.nav-tabs > li > a span{
	margin-left: 70px;
}
.nav-tabs .printing, .nav-tabs .live, .nav-tabs .shipped{
	border-right:2px solid #16a085;
}
.nav-tabs .printing:hover, .nav-tabs .live:hover, .nav-tabs .shipped:hover{
	border-right:2px solid #16a085;
}

/*page-navigaation*/
.page-navigation{
	padding:30px 0;
}
.page-navigation ul{
	padding:0;
}
.page-navigation ul li{
	display:inline;
	padding:3px 3px;
}
.page-navigation ul li:first-child{
	padding-right:30px;
}
.page-navigation ul li a{
	color:#16a085;
	font-size:17px;
	font-family: 'Lato', 'sans-serif';
	font-weight:700;
}
.page-navigation ul li a:hover{
	text-decoration:none;
}
.page-navigation ul li:last-child{
	padding-left:30px;
}
.page-current {
  color: #BDC3C7 !important;
}

.similar-products{
	position:absolute;
	width:95%;
	background-color:#ffffcc;
}

.similar-products .product-item{
	padding:5px;
	margin: 5px;
}
.similar-products .product-item:hover{
	border:1px solid #dedede;
	cursor:pointer;
	border-radius: 5px;
}



/*font-family: 'Lato', 'sans-serif';*/

@font-face {
    font-family: 'LatoBlack';
    src: font_url('lato-black.eot');
    src: font_url('lato-black.eot') format('embedded-opentype'),
         font_url('lato-black.woff') format('woff'),
         font_url('lato-black.ttf') format('truetype'),
         font_url('lato-black.svg#LatoBlack') format('svg');
}
@font-face {
    font-family: 'AllerBold';
    src: font_url('aller_bold.eot');
    src: font_url('aller_bold.eot') format('embedded-opentype'),
         font_url('aller_bold.woff') format('woff'),
         font_url('aller_bold.ttf') format('truetype'),
         font_url('aller_bold.svg#AllerBold') format('svg');
}
body {
	padding: 0 0 70px;
}
.center{
	width:100%;
	margin:0 auto;
	max-width:1450px;
}
.spacer{
	height:10px;
}
.spacer02{
	height:20px;
}

img, iframe{
	max-width:100%;
}
/*menubar*/
#menubar .logo{
	margin-top:11px;
}
#menubar{
	padding: 12px 0;
	background: #2d4154;
}
#menubar nav{
	margin-top:7px;
}
nav li a{
	font-family: 'Lato', 'sans-serif';
	font-weight:bold;
	font-size:15px;
	color:#fff;
	text-transform:uppercase;
	padding: 7px 10px !important;
}
.icon-bar{
	background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    height: 2px;
}
.navbar-toggle {
    background: none repeat scroll 0 0 #6f6f6f;
}
#menubar .rick{
	float:right;
	padding: 0 0 0 124px;
}
.nav-pills{
	margin-top:0;
}
.nav-rick{
	float:left;
	margin-top:0;
}
.hi-rick img{
	margin-right:10px;
}
.hi-rick{
	float:left;
	color: #fff;
	margin:7px;
	font-family: 'Lato', 'sans-serif' !important;
}
#main-content {
    padding-bottom: 20px;
}
#main-content h1{
	color: #304153;
	font-family: 'Lato', 'sans-serif';
    font-size: 26px;
	font-weight: bold;
    margin: 20px 0 30px;
}
#main-content .square-stats{
	padding:0;
	border:1px solid #cfcfcf;
	border-radius:5px;
	box-shadow: 0 -1px 0 #F9F9F9;
}
#main-content .square-stats #myTab{
	padding-left:20px;
	background:#efefef;
	margin:0;
}
.blue-highlight a{
	color:#3867a4 !important;
}
.green-highlight a{
	color:#1abc9c !important;
}

#main-content .square-stats .nav-tabs > li > active{
	border-right:1px solid #f6f6f6;
}
#main-content .square-stats .nav-tabs > li > a{
	border: 0 none;
    border-radius: 0;
    color: #444444;
    font-size: 15px;
	font-family: 'Lato', 'sans-serif';
	font-weight:bold;
    font-size: 15px !important;
    padding: 10px 15px;
  background: none !important;
}
#main-content .square-stats .nav-tabs .active{
	color:#3867a4;
}
#main-content .tab-content{
	padding:29px 10px;
}
#main-content .tab-content .col-lg-2{
	padding:0 5px;
}
.tab-content .box-icon{
	float:left;
}
.tab-content .box-stat-num{
	float:right;
	font-family: 'Lato', 'sans-serif';
	font-size:17px;
	color:#fff;
	font-weight:700;
	margin:0;
}
.tab-content .box-stat-text{
	bottom: 4px;
    font-size: 11px;
    margin-top: 12px;
    position: absolute;
}
.tab-content .p-orange{
	margin-bottom: 7px;
}
#main-content .all-box{
	padding:7px;
	font-family: 'Lato', 'sans-serif';
	color:#fff;
	font-weight:700;
	border-radius:5px;
	min-height: 88px;
	position:relative;
}
#main-content .box-red{
	background:#e07954;
	border-top:1px solid #f9e4dd;
	border-right:1px solid #eba890;
	border-bottom:1px solid #f6d8cd;
	border-left:1px solid #e48b6b;
}
#main-content .box-orange{
	background:#f7b532;
	border-top:1px solid #fdf0d6;
	border-right:1px solid #fbd892;
	border-bottom:1px solid #fce1ab;
	border-left:1px solid #f8bf4d;
}
#main-content .box-blue{
	background:#45acd0;
	border-top:1px solid #daeef6;
	border-right:1px solid #b2ddec;
	border-bottom:1px solid #9dd3e6;
	border-left:1px solid #5eb7d6;
}
#main-content .box-green{
	background:#84af4c;
	border-top:1px solid #e6efdb;
	border-right:1px solid #f8faf4;
	border-bottom:1px solid #94ba64;
	border-left:1px solid #9abd6c;
}
/*end square-stats*/


/*table-stats*/
.table-stats{
	border: 1px solid #CFCFCF;
    border-radius: 10px;
    color: #2C3E50;
    font-family: 'Lato','sans-serif';
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 2px solid #ecf0f1;
}
.table-stats .th-header td{
	font-family: 'Lato', 'sans-serif';
	font-weight:700;
	text-indent:10px;
}
.table-stats td{
	text-indent:11px;
}
.table-stats table{
	margin-bottom:0;
}
.table-stats .up-down-arrow{
	margin-top: 2px;
	float:right;
}
.view-edit{
	color:#2c3e50;
}

/*sidebar-stats*/
.sidebar-stats .tab-content{
	padding: 13px 5px !important;
}
.sidebar-stats .tab-content .col-md-12{
	background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    padding: 7px;
	margin-bottom:5px;
}
.sidebar-stats .tab-content .col-md-12 p{
	font-family: 'Lato', 'sans-serif';
	font-weight:700;
	font-size:16px;
	color:#34495e;
	margin:0;
}
.sidebar-stats .tab-content .col-md-12 p span{
	font-size:14px;
}
#main-content .sidebar-stats .nav-tabs > li > a{
	padding:10px 7px !important;

}
/*page-navigation*/
.page-navigation{
	padding:10px 0;
}
.page-navigation ul{
	padding:0;
}
.page-navigation ul li{
	display:inline;
	padding:3px 3px;
}
.page-navigation ul li:first-child{
	padding-right:30px;
}
.page-navigation ul li a{
	color:#16a085;
	font-size:17px;
	font-family: 'Lato', 'sans-serif';
	font-weight:bold;
}
.page-navigation ul li a:hover{
	text-decoration:none;
}
.page-navigation ul li:last-child{
	padding-left:30px;
}
.page-current {
    color: #BDC3C7 !important;
}

.email-1 {
    font-family: "Lato","sans-serif";
    font-weight: bold;
}
.email-1 span {
    display: inline-block;
    margin: 0 15px;
    padding: 3px;
}

/*footer*/
#footer{
	background: none repeat scroll 0 0 #2d4154;
    bottom: 0;
    height: 60px;
    position: fixed;
    width: 100%;
}
.notifications {
	border: 1px solid #d2d2d2;
    border-radius: 3px;
	margin-top:20px;
}

.notifications h2 {
	background:#efefef;
	font-family: 'LatoBlack';
	color:#444;
	font-size:16px;
	margin:0px;
	padding:15px 20px;
	background:url(/assets/bell-icon.png) no-repeat 310px center #efefef;
	border-bottom:1px solid #dcdcdc;
}

.you-got-new {
	font-family: 'Lato','sans-serif';
	font-size:14px;
    border: 2px solid #ecf0f1;
    border-radius: 5px;
    display: block;
    margin: 15px auto;
    max-width: 320px;
    padding: 10px 10px 10px 50px;
	color:#2c3e50;
	background:url(/assets/circle-check.png) no-repeat 15px center;
}
.green-new {
	color: #16a085;
}
.close-icon {
	display:block;
	width:13px;
	height:13px;
	float:right;
	background:url(/assets/close-sm-icon.png) no-repeat 0 0;
	margin-top: 4px;
}
.all-box input[type="text"] {
	border: 1px solid #ccc;
    max-width: 141px;
    width: 100%;

}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #2d4154 !important;
}

#main-content .square-stats .nav-tabs > li.active > a, #main-content .square-stats .nav-tabs > li.active > a:hover > a, #main-content .square-stats .nav-tabs > li.active > a:focus {
    background: none repeat scroll 0 0 #fff !important;
}
#main-content .square-stats .nav-tabs > li > a {
	cursor: pointer;
}
/************************************************************************ DESKTOP ************************************************/

@media only screen and (min-width:769px) and (max-width:1024px){

#main-content .all-box{
	margin-bottom:5px;
}
}

/************************************************************************ IPAD AND TABLETS ************************************************/

@media only screen and (min-width:481px) and (max-width:768px){
#menubar .col-md-2{
	text-align:center;
}
#menubar .rick{
	float:left;
	padding:0;
}
#main-content .all-box{
	margin-bottom:5px;
}
.table-stats .th-header td{
	text-indent:0px;
}
.table-stats td{
	text-indent:10px;
}
}

/************************************************************************ MOBILE LANDSCAPE************************************************/

@media only screen and (max-width:480px) {
#menubar .col-md-2{
	text-align:center;
}
#menubar .rick{
	float:left;
	padding:0;
}
#main-content .all-box{
	margin-bottom:5px;
}
.sidebar-stats .nav > li > a {
	font-size: 14px !important;
    padding: 10px 4px;
}
.table-stats .th-header td{
	text-indent:0px;
}
.table-stats td{
	text-indent:0px;
}
.page-navigation ul li:first-child{
	padding-right:0 !important;
}
.page-navigation ul li:last-child{
	padding-left:0px !important;
}
}

.pagination{margin:20px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;cursor:pointer}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{color:#999999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.pagination-large ul>li>a,.pagination-large ul>li>span{padding:11px 19px;font-size:17.5px;}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;}
.pagination-small ul>li>a,.pagination-small ul>li>span{padding:2px 10px;font-size:11.9px;}
.pagination-mini ul>li>a,.pagination-mini ul>li>span{padding:0 6px;font-size:10.5px;}

.customer td {
	text-indent: 0;
}

.customer .search { display: inline-block; }
.customer .search input[type="text"] {
  background: url(/assets/search-white.png) no-repeat 10px 6px #fcfcfc;
  border: 1px solid #d1d1d1;
  font: bold 12px 'Lato', 'sans-serif';
  color: #2c3e50;
  width: 150px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  margin: 0;
 }

.customer .search input[type="text"]:focus {
    width: 200px;
    }