.row
	%h2 Sales Overview

	.table-responsive
		%table.table.table-hover{:bordercolor => "#ecf0f1"}
			%tr.table-heading-stats{:style=>"text-align:center;"}
				%td 
					%strong Category
				%td 
					%strong Sizes sold
				%td 
					%strong Overall Items
			%tr{:"ng-repeat" => "obj in results"}
				%td {{obj.category}}
				%td
					%table.table.table-condensed{:width => "100%", :style=>"margin-bottom:0 !important;"}
						%tr{:'ng-repeat' => "(size, qty) in obj.sizes"}
							%td{:style=>"width:50%;"} {{size}}
							%td{:style=>"text-align:right;padding-right:20px;"} {{qty | number}}
				%td{:style=>"text-align:center;"} {{obj.qty_sold | number}}