
.row
  .col-md-6
    %h2
      In Stocks Eparcel
      %button.btn.btn-primary.btn-xs{:type => "button", :'ng-click' => "exportParcelData()"} Export



.row

.row
  %br
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover
        %tr.table-heading
          %td A
          %td B
          %td C
          %td D
          %td E
          %td F
          %td G
          %td H
          %td I
          %td J
          %td K
          %td L
          %td M
          %td N
          %td O
          %td P
          %td Q
          %td R
          %td S
          %td T
          %td U
          %td V
          %td W
          %td X
          %td Y
          %td Z
          %td AA
          %td AB
          %td AC
          %td AD
          %td AE
          %td AF
          %td AG
          %td AH
          %td AI
          %td AJ
          %td AK
          %td AL
          %td AM
          %td AN
          %td AO
          %td AP
          %td AQ
          %td AR
          %td AS
          %td AT
          %td AU
          %td AV
          %td AW
          %td AX
          %td AY
          %td AZ
        %tbody{:'ng-repeat' => "order in orders"}

          %tr{:'ng-show' => "isInternational(order.shipping_info)"}
            %td C
            %td
            %td
            %td AIR8
            %td
            %td {{showName(order.shipping_info)}}


            %td
            %td {{showAddress1(order.shipping_info)}}
            %td {{showAddress2(order.shipping_info)}}
            %td
            %td
            %td {{showCity(order.shipping_info)}}
            %td {{showState(order.shipping_info)}}
            %td {{showPostal(order.shipping_info)}}
            %td {{showCountry(order.shipping_info)}}
            %td {{showPhone(order.shipping_info)}}
            %td
            %td
            %td
            %td Y
            %td
            %td
            %td Y
            %td
            %td {{order.order_id}}
            %td

            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td {{order.user_email}}
            %td

          %tr{:'ng-show' => "isInternational(order.shipping_info)"}
            %td A
            %td {{order.weight}}
            %td
            %td
            %td
            %td 1
            %td
            %td
            %td
            %td
            %td
              {{order.order_total}}
            %td
              SALE VIA INTERNET
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td OTHER
            %td
            %td
            %td
            %td
            %td
            %td

            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
          %tr{:'ng-show' => "isInternational(order.shipping_info)"}
            %td G
            %td
            %td
            %td Apparel
            %td
            %td
            %td 1
            %td
            %td {{order.order_total}}
            %td {{order.order_total}}
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td

          %tr{:'ng-show' => "!isInternational(order.shipping_info)"}
            %td C
            %td
            %td
            %td {{order.weight <= 800 ? "X1" : "X1"}}
            %td
            %td {{showName(order.shipping_info)}}
            %td
            %td {{showAddress1(order.shipping_info)}}
            %td {{showAddress2(order.shipping_info)}}
            %td
            %td
            %td {{showCity(order.shipping_info)}}
            %td {{showState(order.shipping_info)}}
            %td {{showPostal(order.shipping_info)}}
            %td {{showCountry(order.shipping_info)}}
            %td {{showPhone(order.shipping_info)}}
            %td
            %td
            %td
            %td Y
            %td
            %td
            %td Y
            %td
            %td {{order.order_id}}
            %td

            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td {{order.user_email}}
            %td TRACKADV

          %tr{:'ng-show' => "!isInternational(order.shipping_info)"}
            %td A
            %td {{order.weight}}
            %td
            %td
            %td
            %td 1
            %td
            %td
            %td
            %td
            %td
              {{showPaid(order.shipping_info, order.order_total)}}
            %td
              {{showSale(order.shipping_info)}}
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td

            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
    .table-responsive#ineparceltable{:style => "display:none"}
      %table.table.table-hover
        %tbody{:'ng-repeat' => "order in orders"}
          %tr{:'ng-if' => "isInternational(order.shipping_info)"}
            %td C
            %td
            %td
            %td AIR8
            %td
            %td {{showName(order.shipping_info)}}


            %td
            %td {{showAddress1(order.shipping_info)}}
            %td {{showAddress2(order.shipping_info)}}
            %td
            %td
            %td {{showCity(order.shipping_info)}}
            %td {{showState(order.shipping_info)}}
            %td {{showPostal(order.shipping_info)}}
            %td {{showCountry(order.shipping_info)}}
            %td {{showPhone(order.shipping_info)}}
            %td
            %td
            %td
            %td Y
            %td
            %td
            %td Y
            %td
            %td {{order.order_id}}
            %td

            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td {{order.user_email}}
            %td

          %tr{:'ng-if' => "isInternational(order.shipping_info)"}
            %td A
            %td {{order.weight}}
            %td
            %td
            %td
            %td 1
            %td
            %td
            %td
            %td
            %td
              {{order.order_total}}
            %td
              SALE VIA INTERNET
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td OTHER
            %td
            %td
            %td
            %td
            %td
            %td

            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
          %tr{:'ng-if' => "isInternational(order.shipping_info)"}
            %td G
            %td
            %td
            %td Apparel
            %td
            %td
            %td 1
            %td
            %td {{order.order_total}}
            %td {{order.order_total}}
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td

          %tr{:'ng-if' => "!isInternational(order.shipping_info)"}
            %td C
            %td
            %td
            %td {{order.weight <= 800 ? "X1" : "X1"}}
            %td
            %td {{showName(order.shipping_info)}}
            %td
            %td {{showAddress1(order.shipping_info)}}
            %td {{showAddress2(order.shipping_info)}}
            %td
            %td
            %td {{showCity(order.shipping_info)}}
            %td {{showState(order.shipping_info)}}
            %td {{showPostal(order.shipping_info)}}
            %td {{showCountry(order.shipping_info)}}
            %td {{showPhone(order.shipping_info)}}
            %td
            %td
            %td
            %td Y
            %td
            %td
            %td Y
            %td
            %td {{order.order_id}}
            %td

            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td {{order.user_email}}
            %td TRACKADV

          %tr{:'ng-if' => "!isInternational(order.shipping_info)"}
            %td A
            %td {{order.weight}}
            %td
            %td
            %td
            %td 1
            %td
            %td
            %td
            %td
            %td
              {{showPaid(order.shipping_info, order.order_total)}}
            %td
              {{showSale(order.shipping_info)}}
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td

            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td


