<%- headers = ['Handle','Title','Body (HTML)','Vendor','Type','Tags','Published',
								'Option 1 Name','Option 1 Value','Option 2 Name','Option 2 Value',
								'Option 3 Name','Option 3 Value','Variant SKU','Variant Grams',
								'Variant Inventory Tracker','Variant Inventory Qty','Variant Inventory Policy',
								'Variant Fulfillment Service','Variant Price','Variant Compare At Price',
								'Variant Requires Shipping','Variant Taxable','Variant Barcode',
								'Image Src','Image Alt Text','Gift Card','SEO Title','SEO Description',
								'Google Shopping / Google Product Category','Google Shopping / Gender',
								'Google Shopping / Age Group','Google Shopping / MPN','Google Shopping / AdWords Grouping',
								'Google Shopping / AdWords Labels','Google Shopping / Condition',
								'Google Shopping / Custom Product','Google Shopping / Custom Label 0',
								'Google Shopping / Custom Label 1','Google Shopping / Custom Label 2',
								'Google Shopping / Custom Label 3','Google Shopping / Custom Label 4',
								'Variant Image','Variant Weight Unit','Variant Tax Code'] %>
<%= CSV.generate_line headers, :row_sep => ?\t %>
<%- @products.each do |product|%>
<%- product.settings(:options).prices.each do |cat| %>
<%- 
	type = cat[:type].nil? ? "" : cat[:type]
	sizes = cat[:sizes].nil? ? nil : cat[:sizes]
	img = product.product_images.where(:category_id => cat[:category_id]).first
	unless img.nil?
		img = img.product_image.url
	end
	color = product.get_item_color

	desc = product.description.gsub ",", "&#44;"
	desc = desc.gsub '"', '&quot;'

	title = product.title.gsub ",", "&#44;"
	title = title.gsub '"', '&quot;'

	if sizes.nil?
%>
<%= CSV.generate_line([
		product.slug,title,desc,'FanTees',type,'Tags','TRUE',
		'Size','','Colour',color,'','','','','shopify',0,'continue','manual',cat[:amount],
		'','TRUE','TRUE','',img,'','FALSE','','','','','','','','','','','','','','','',
		img,'kg',''
	], :row_sep => ?\t).html_safe 
%>
<%- else %>
<%- sizes.each do |size| %>
<%= CSV.generate_line([
		product.slug,title,desc,'FanTees',type,'Tags','TRUE',
		'Size',size['name'],'Colour',color,'','','','','shopify',0,'continue','manual',cat[:amount],
		'','TRUE','TRUE','',img,'','FALSE','','','','','','','','','','','','','','','',
		img,'kg',''
	], :row_sep => ?\t).html_safe 
%>
<%- end %>
<%- end %>
<%- end %>
<%- end %>