#content-wrapper
  .container
    .row
      .col-md-12
        %h2.text-center Change your password

        .login-div{style: "max-width: 400px"}
          = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
            = devise_error_messages!
            = f.hidden_field :reset_password_token

            %table{width: "100%", style: "margin-top:50px;"}
              %tbdoy
                %tr
                  %td
                    = f.password_field :password, :autofocus => true, :placeholder => "New Password", :style => "width: 100%"
                %tr
                  %td
                    = f.password_field :password_confirmation, :placeholder => "Confirm new password", :style => "width: 100%"
                %tr
                  %td.text-center
                    = f.submit "Change my password"
