#content-wrapper
  .container
    .row
      .col-md-12
        %h2.text-center Forgot your password?

        .login-div{style: "max-width: 400px"}
          = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
            = devise_error_messages!

            %table{width: "100%", style: "margin-top:50px;"}
              %tbdoy
                %tr
                  %td
                    = f.email_field :email, :autofocus => true, :placeholder => "Email", :style => "width: 100%"
                %tr
                  %td.text-center
                    = f.submit "Reset Password"

