@font-face {
    font-family: 'LatoBlack';
    src: font_url('lato-black.eot');
    src: font_url('lato-black.eot') format('embedded-opentype'),
         font_url('lato-black.woff') format('woff'),
         font_url('lato-black.ttf') format('truetype'),
         font_url('lato-black.svg#LatoBlack') format('svg');
}
