#content-wrapper
  .container
    .row
      .col-md-12
        %h2.text-center Change your password

        .login-div
          = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|

            = devise_error_messages!
            = f.hidden_field :reset_password_token

            %table{width: "100%", style: "margin-top:50px;"}
              %tbdoy
                %tr
                  %td{width: "20%", style: "vertical-align:top;"}
                    = f.label :password, "New password"
                  %td{colspan: "2"}
                    = f.password_field :password, :autofocus => true
                %tr
                  %td{width: "20%", style: "vertical-align:top;"}
                    = f.label :password_confirmation, "Confirm new password"
                  %td{colspan: "2"}
                    = f.password_field :password_confirmation
                %tr
                  %td &nbsp;
                  %td{colspan: "2"}
                    = f.submit "Change my password"