#content-wrapper
  .container
    .row
      .col-md-12
        %h2.text-center Forgot your password?

        .login-div
          = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|

            = devise_error_messages!
            %table{width: "100%", style: "margin-top:50px;"}
              %tbdoy
                %tr
                  %td{width: "20%", style: "vertical-align:top;"}
                    = f.label :email
                  %td{colspan: "2"}
                    = f.email_field :email, :autofocus => true
                %tr
                  %td &nbsp;
                  %td{colspan: "2"}
                    = f.submit "Reset Password"

      / = render "admins/shared/links"
