%div{:'ng-controller' => "CheckoutCtrl"}
  #content-wrapper
    / content-wrapper
    .container
      - flash.each do |name, msg|
        %div{class: "alert alert-#{name == :notice ? "success" : "danger"}"}
          - msgs = msg.split(",")
          %ul
            - msgs.each do |m|
              %li
                = m.strip
          / = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      / container
      .row
        / row
        .col-md-6
          / col-md-6
          %h2 Enter Your Shipping Address
          / %form.product-form
          = form_for @order, url: eway_checkout_products_path, html: {class: "product-form"} do |o|
            = text_field_tag :first_name, "", {placeholder: "First Name", :'ng-model' => "checkout.first_name", style: "width: 223px"}
            = text_field_tag :last_name, "", {placeholder: "Last Name", :'ng-model' => "checkout.last_name", style: "width: 223px"}
            = text_field_tag :address, "", {placeholder: "Address", :'ng-model' => "checkout.address"}
            = text_field_tag :city, "", {placeholder: "City", :'ng-model' => "checkout.city"}
            = text_field_tag :state, "", {placeholder: "State", :'ng-model' => "checkout.state"}
            = select_tag :select, "", {:'ng-model' => "country", :'ng-options' => 'c.name for c in countries', :'ng-change' => "selectCountry(this)"}
            = hidden_field_tag :country, "{{country.iso}}", {:'ng-model' => "checkout.country"}
            = text_field_tag :zip, "", {placeholder: "Postal Code", :'ng-model' => "checkout.zip"}
            %p &nbsp;
            %h2 Payment  Billing
            / = text_field_tag :name, "", {placeholder: "Full Name", :'ng-model' => "checkout.name"}
            = text_field_tag :email, "", {placeholder: "Email Address", :'ng-model' => "checkout.email"}
            = text_field_tag :cc_number, "", {placeholder: "Credit Card Number", :'ng-model' => "checkout.cc_number"}
            %span.expiry-date Expiration Date
            %span.x-date
              = text_field_tag :month, "", {placeholder: "MM", class: "month", :'ng-model' => "checkout.month"}
              %span.slash /
              = text_field_tag :year, "", {placeholder: "YYYY", class: "year", :'ng-model' => "checkout.year"}
              = text_field_tag :cvn, "", {placeholder: "CCV Code", class: "year", :'ng-model' => "checkout.cvn", style: "width: 100px; margin-left: 50px"}
            %span.expiry-date
              By clicking ‘place your order’ you agree to our
              = link_to "privacy policy", "/privacy-policy", {target: "_blank"}
              and
              = link_to "terms", "/terms-of-service", {target: "_blank"}
            %input.place-your-order{name: "submit", type: "submit", value: "Place Your Order"}
        / col-md-6
        .col-md-6
          / col-md-6
          .product-order-summary
            %span.order-summary-title Order Summary
            .col-md-12
              %p
                = @product.title
                - @orders.each do |o|
                  %br
                  = o[:description]
                  %span
                    = o[:price]


                / %p
                /   Shipping via USPS
                /   %span $3.85
                %p.order-product-total
                  Total
                  %span.total-summary
                    = number_to_currency(@total)
              .clearfix
          / .product-order-testimonial
          /   .col-md-4.col-sm-4.col-xs-12.text-center
          /     %img{alt: "Amanda Daley", src: "img/amanda.png"}
          /   .col-md-8.col-sm-8.col-xs-12
          /     %span
          /       %em “The quality of the tee I got is up there with some of the best I've purchased.”
          /     %span.summary-testi-author Jenny
          /     %cite Satisfied Buyers
          /   .clearfix
          .clearfix
          %p
            / Begin eWAY Linking Code
            %a{href: "http://www.eway.com.au/secure-site-seal?i=12=3=b16294f5-0da2-4e2f-bbab-d7c28e4790df", rel: "nofollow", target: "_blank", title: "eWAY Payment Gateway"}
              %img{alt: "eWAY Payment Gateway", src: "https://www.eway.com.au/developer/payment-code/verified-seal.ashx?img=12&size=3&pid=b16294f5-0da2-4e2f-bbab-d7c28e4790df"}
            / End eWAY Linking Code
            / = image_tag "secure-check-out.jpg", {alt: "Secure Checkout"}
            %span.how-long How long will it take to get my shirt?
            %span.how-answer Your order will arrive 7-14 days after the end of the campaign!
