%div{ng: {controller: "ProductShowCtrl"}}
  #content-wrapper
    .container
      .row
        - if @error
          .alert.alert-danger
            There Was A Problems With Your Order, Please Try Again Or Call Us At: (02) 8006 2297

        .col-md-6.visible-xs.text-center
          %h2
            = @product.title
          %p
            = @product.description.html_safe

        .col-md-6
          .big-img.text-center
            %span.product-price.visible-xs
              {{price.amount | currency:"$"}}
              / = "$#{number_with_precision(@product.price, :precision => 2)}"
            / = image_tag @product.product_images.first.product_image(:medium), {alt: "T-shirt", id: "big-image"}
            %img#big-image{:'src' => "/assets/thumbnail-default.jpg", :'ng-show' => "!currentImg.medium", :alt => "T-shirt", :width => "413"}
            %img#big-image{:'ng-src' => "{{currentImg.medium}}", :'ng-show' => "currentImg.medium", :alt => "T-shirt"}
          %div{:'ng-show' => "showNextPrev"}
            %span.front-back.visible-xs
              = link_to "<< Back", "#", {:'ng-click' => "back()"}
              |
              = link_to "Next >>", "#", {:'ng-click' => "next()"}

          .row.hidden-xs
            .col-md-2.col-xs-2{ng: {repeat: "i in images"}}
              %span.thumb-hover.front{:'ng-class' => "current(i.id)", :'ng-click' => "selecteImage(i, $index)"}
                %img{:alt => "Thumbnail", :'ng-src' => "{{i.medium}}", :'ng-click' => "selecteImage(i, $index)"}

          %hr.hidden-xs

          %div.row.visible-xs{style: "padding: 0 15px"}
            %hr
            .col-xs-5
              %span.fraction
                = "#{@sales}/#{@product.sales}"
              %span.pre-ordered pre-ordered
            .col-xs-7
              %span.fraction#mobile-days-left
                = "#{@product.time_left[:days]} days #{@product.time_left[:hours]} Hours"
              %span.pre-ordered Left to buy

            .clearfix
            %hr

        .col-md-6.hidden-xs
          %h2
            = @product.title
          %p
            = @product.description.html_safe

        / .col-md-6.hidden-xs
        /   %p
        /     %span.dark
        /       Order 2 or more and SAVE on shipping!
        /       %br
        /       We Now Ship Worldwide!
        /   %p
        /     %span.dark Trouble ordering?
        /     %br
        /     Contact JobTees Customer Support! +1 (855) 833-7774.

        .col-md-6
          / %p
          /   %span.dark
          /     Select your style (Ladies or Mens) then Click Buy it now to finalize your order!
          %p
            %span.dark
              Choose Your Style

          / %select#e4{:'ng-model' => 'selected', :'ng-options' => "c as c.name for c in categories", :'ng-change' => "selectCategory(this)", :'ui-select2' => ""}
          %select#e4{:'ng-model' => 'price', :'ng-options' => 'c as c.name for c in prices', :'ng-change' => "selectCategory(this)", :'ui-select2' => ""}

          .clearfix
          .colors{style: "margin-top: 10px"}
          /   .col-md-6
          /     %span.shirt-color Shirt Color:
          /     .black-div.swatch-current
          /       %a.black-swatch{href: "#"}
          /     .black-div
          /       %a.blue-swatch{href: "#"}
          /     .black-div
          /       %a.violet-swatch{href: "#"}
          /   .col-md-6
          /     %a.size-info{href: "#"} Size info
          - if @product.active
            %a.btn-big-custom{href: "#", ng: {click: "openModal(product)"}} Buy It Now
          - if @product.status == 0
            %p.guarantee.hidden-xs
              = "#{@sales} sold towards goal of #{@product.sales}"
            .progress.hidden-xs
              - percent = (@sales / @product.sales.to_f) * 100
              - percent = percent > 100 ? 100 : percent.round
              .progress-bar.progress-bar-success{role: "progressbar", style: "width: #{percent}%", aria: {valuenow: 60, valuemin: "0", valuemax: "100"}}
                %span.sr-only
                  = "#{percent}% Complete"
            %p
              = "#{@sales} have been sold (towards the original goal of #{@product.sales})"
              %br
              You can keep buying until the campaign ends
            %hr.hidden-xs

            %hr.visible-xs
            #my-count-down
            %span{style: "font-size: 14px"} left to buy
            .clearfix
            %hr.visible-xs
          - else
            %p
              - status = @product.status == 1 ? "Printing" : "In Stock"
              %strong Status:
              = status
              %br/
              - delivery = @product.status == 1 ? "7 - 10 days" : "2 - 3 days"
              %strong Estimated Delivery Time:
              = delivery

        .col-md-6.visible-xs
          %p
            %span.dark
              Order 2 or more and SAVE on shipping!
              %br
              We Now Ship Worldwide!
          %p
            %span.dark Trouble ordering?
            %br
            Contact JobTees Customer Support! +1 (855) 833-7774.

  = render "pre_footer"