/*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
300;400;700*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font_url('glyphicons-halflings-regular.eot');
  src: font_url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), font_url('glyphicons-halflings-regular.woff') format('woff'), font_url('glyphicons-halflings-regular.ttf') format('truetype'), font_url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
	font-family: 'AllerBold';
	src: font_url('aller_std_bd.eot');
	src: font_url('aller_std_bd.eot') format('embedded-opentype'),  font_url('aller_std_bd.woff') format('woff'),  font_url('aller_std_bd.ttf') format('truetype'),  font_url('aller_std_bd.svg#AllerBold') format('svg');
}
@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: font_url('open-sans-semibold-italic.eot');
  src: font_url('open-sans-semibold-italic.eot') format('embedded-opentype'),
       font_url('open-sans-semibold-italic.woff') format('woff'),
       font_url('open-sans-semibold-italic.ttf') format('truetype'),
       font_url('open-sans-semibold-italic.svg#OpenSansSemiboldItalic') format('svg');
}
body {
	font-family: 'Open Sans', sans-serif !important;
	color: #777 !important;
	font-size: 14px !important;
	line-height: 24px !important;
	background:#fff !important;
}
p {
	margin-bottom: 20px !important;
}
img, iframe {
	max-width: 100%;
}
.dark {
	color:#2d4154;
	font-weight:700;
}
.guarantee {
	color:#2d4154;
	font-size:18px;
	font-weight:700;
}
hr {
	border-color:#AFAFAF !important;
}
h2 {
	font-family: 'AllerBold';
	font-size:24px;
	margin:0 0 10px;
	padding:0;
	color:#2d4154;
	line-height:normal;
}
.spacer30 {
	height:30px;
}
.change {
	text-decoration:underline;
}
#header-wrapper {
	padding:20px 0;
	background:#2d4154;
}
#content-wrapper {
	padding:40px 0;
}
#pre-footer-wrapper {
	padding:40px 0;
	background:#eaeaea;
}
#footer-wrapper {
	padding:20px 0;
	background:#2d4154;
}
.copyright {
	display:inline-block;
	font-size:14px;
	color:#fff;
	padding-top:5px;
}
.copyright a {
	display:inline-block;
	padding:0 15px;
	color:#fff;
}
.big-img{
	padding:40px 0;
	border:1px solid #afafaf;
	border-radius:3px;
	margin-bottom:20px;
}
.big-img02{
	padding:40px;
	border:1px solid #afafaf;
	border-radius:3px;
	margin-bottom:20px;
}
.btn-xs-custom {
	background: #2ecc71;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	text-align: center;
	font-family: 'AllerBold';
	padding: 5px 10px;
	border: none
}
.btn-sm-custom {
	background:#2ecc71;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-size:18px;
	font-family: 'AllerBold';
	padding:12px 0;
	box-shadow:0 -2px 0 #27ae60 inset;
	width:50%;
	margin-bottom:20px;
}
.btn-big-custom {
	background:#2ecc71;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-size:24px;
	font-family: 'AllerBold';
	padding:20px 0;
	box-shadow:0 -2px 0 #27ae60 inset;
	margin-bottom:20px;
	width:75%;
}

.btn-sm-custom:hover,.btn-sm-custom:focus, .btn-big-custom:hover,.btn-big-custom:focus,.login-div input[type="submit"]:hover, .login-div input[type="submit"]:focus, .btn-xs-custom:hover {
	box-shadow:none;
	color:#fff;
	text-decoration:none;
	opacity:0.9;
}
.progress {
	width:75%;
	border-radius: 15px;
	height:18px;
	background:#ecf0f1;
	border:1px solid #d6d6d6;
}
.progress-bar-success{
	background:#1abc9c !important;
}
.left-to-buy {
	color:#777777;
	background:url(/assets/clock-icon.png) no-repeat left 1px;
	font-weight:700;
	padding-left:20px;
	display:inline-block;
}
.learn-more ul, .your-account ul {
	margin:0;
	padding:0;
	list-style:none;
}
.thumb-hover {
	display:inline-block;
	background:#edeef0;
	padding:10px;
	min-height:100px;
	vertical-align:center;
	cursor:pointer;
}
.thumb-hover:hover, .current {
	display:inline-block;
	border:1px solid #3c5eb3;
	background:#e4ebf8;
	padding:10px;
	min-height:100px;
	vertical-align:center;

}
.social-square {
	margin-bottom:20px;
}
.social-square a {
	display:inline-block;
	margin-right:10px;
}
.login-div {
	max-width:550px;
	margin:0 auto;
	width:100%;
}
.login-div label {
	font-weight:normal;
	display:block;
	text-align:right;
	padding: 10px 20px;
	font-size:16px;
}
.login-div input[type="email"], .login-div input[type="password"]{
	width:85%;
	padding:10px;
	border:1px solid #dedede;
	border-radius:5px;
	margin-bottom:20px;
}
.login-div input[type="submit"] {
	background:#3498db;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-size:16px;
	font-family: 'AllerBold';
	padding:10px 0;
	box-shadow:0 -2px 0 #2c81ba inset;
	margin-bottom:20px;
	width:60%;
	cursor:pointer;
	margin-top:20px;
	border:none;
	text-transform:uppercase;
}
.menu-div{
	border:2px solid #bdc3c7;
	max-width:280px;
	margin:0 auto 40px;
}
.icon-div {
	padding:40px;
	min-height:240px;
}
.add-boxes:hover {
	text-decoration:none;
	color:#fff;
	opacity:0.8;
}
.add-text {
	background:#1abc9c;
	color:#fff;
	font-size:18px;
	font-family: 'AllerBold';
	padding:15px 0;
	display:block;
}
.tee {
	max-width:280px;
	margin:20px auto;
	background:#2ecc71;
	min-height:140px;
}
.hat {
	max-width:280px;
	margin:20px auto;
	background:#f39c12;
	min-height:140px;
}

.key-ring {
	max-width:280px;
	margin:20px auto;
	background:#3498db;
	min-height:140px;
}
.slots-title {
	color:#fff;
	display:block;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:24px;
	padding:10px;
}
.slot-number {
	color:#fff;
	display:block;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:48px;
	padding:20px 0px;
	text-align:center;
}
.view-all {
	border-radius:5px;
	background:#1abc9c;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:24px;
	display:block;
	max-width:280px;
	padding:15px 0;
	color:#fff;
	margin-top:40px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}
.view-all:hover, .view-all:focus {
	color:#fff;
	text-decoration:none;
	opacity:0.8;
}
.navbar {
	margin:0;
	background:none;
	border:none;
	box-shadow:none;
	min-height:0;
	float:right;
}
.nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
.navbar-nav li a{
	font-family: 'AllerBold';
	color:#fff !important;
	padding:5px 15px;
	text-transform:uppercase;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background:none;
}
.dropdown-menu li a{
	color:#2D4154 !important;
}
.dropdown-menu li a:hover{
	color:#fff !important;
	background:none;
}
.navbar-nav li a:hover{
	color:#3498DB !important;
}
.author {
	display:inline-block;
	padding:0 10px;
	margin-top:-10px;
}
.author img {
	border-radius:50px;
}
.caret {
	border-width: 7px 7px 0;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
   border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
textarea{
	padding:10px;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	margin:20px 0;
}
input[type="text"],input[type="search"]{
	padding:10px;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	margin:20px 0;
}
input[type="date"] {
	color:#777777 !important
}
textarea {
    margin-left: 15px;
    width: 97.5%;
}
select {
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	margin:20px 0;
	padding:9px;
}
.search-product input[type="submit"] {
    background: url("/assets/search-icon-sm.png") no-repeat scroll 95% center rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    float: right;
    height: 16px;
    margin: -49px 10px 0;
    position: relative;
    width: 16px;
    z-index: 999;
}
.edit-order, .edit-address {
	padding:20px;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	margin:20px 0 0;
	min-height: 170px;
}
.edit-order img{
	padding:20px;
	border:1px solid #bdc3c7;
	float:left;
	margin-right:20px;
}
.order-label{
	color:#2c3e50;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:18px;
}

.order-id, .order-date {
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:18px;
	color:#2c3e50;
	display:block;
}
.edit-order-btn {
	background:#3498db;
	display:inline-block;
	float:right;
	color:#fff;
	padding:10px 40px;
	font-size:16pxpx;
	border-radius:5px;
	box-shadow:0px -2px 2px #2c81ba inset;
	margin-top:35px;
}
.edit-order-btn:hover, .edit-order-btn:focus, .save:hover, .save:focus {
	box-shadow:none;
	color:#fff;
	text-decoration:none;
	opacity:0.8;
}
.table-responsive {
	margin-top:20px;
}
.table {
	border-radius:5px;
	color:#2c3e50;
	border:2px solid #ecf0f1;
}
.table a {
	color:#2c3e50;
}
.table-heading {
	font-family: 'Lato', sans-serif;
	font-weight:700;
	color:#2c3e50;
	text-align:center;
}
.table-heading-stats {
	font-family: 'Lato', sans-serif;
	font-weight:700;
	color:#2c3e50;
}
.order-table-id {
	text-align:center;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
	border:2px solid #ecf0f1;
}
.price {
	width:31% !important;
	border:1px solid #bdc3c7;
	border-radius:5px;
	padding:5px 10px !important;
	margin-right:12px !important;
}
.product-type {
	width:31% !important;
	border:1px solid #bdc3c7;
	border-radius:5px;
	padding:5px 10px !important;
}
#dp2 {
	width:31%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	padding:5px 5px 5px 30px;
	background:url(/assets/calendar-icon-sm.jpg) no-repeat 8px center;
	margin-right:12px !important;
}
#dp3 {
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	padding:10px 10px 10px 30px;
	background:url(/assets/calendar-icon-sm.jpg) no-repeat 8px center;
	margin:20px 0 !important;
}

#s2id_e1 {
	width:31%;
	border-radius:5px;
}
#s2id_e2 {
	width:60% !important;
}
#s2id_e4 {
	width:75% !important;
}
#s2id_e3 {
	width:100%;
	border-radius:5px;
	margin:20px 0;
}
#s2id_e3 .select2-choice{
	color: #777777 !important;
	display:block;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	height:44px !important;
	line-height: 42px !important;
	margin-top:-1px;
}
#s2id_e3 .select2-arrow b {
    background: url("/assets/select2.png") no-repeat scroll -2px -2px #1ABC9C;
    display: block;
    padding: 22px;
}
#s2id_e3 .select2-arrow{
	width:36px;
}
.select2-choice{
	color: #777777 !important;
	display:block;
	width:100%;
	border:1px solid #bdc3c7;
	border-radius:5px;
	height:33px !important;
	line-height: 30px !important;
	margin-top:-1px;
}
.product-tile, .tee-url {
	width:60% !important;
	padding:8px 10px !important;
	margin-bottom:0px !important;
}
.tee-url {
	margin-bottom:20px !important;
}
.select2-container .select2-choice .select2-arrow {
	width:30px;
}
.note-editor .note-editable {
	overflow:hidden;
}
.save {
	border:none;
	border-radius:5px;
	background:#3498db;
	color:#fff;
	cursor:pointer;
	text-transform:uppercase;
	padding:10px 60px;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:0px -2px 2px #2c81ba inset;
}
.thumbs-vertical .thumb-hover {
	margin-bottom:20px;
	float:left;
	margin-right:10px;
}
.bootstrap-switch {
	margin-top:20px;
	width:220px;
}

.bootstrap-switch > div > span.bootstrap-switch-primary {
	background:#1ABC9C;
}

.footer-icons {
	float:right;
}

.footer-icons .social-square{
	margin-bottom:0px;
}
.footer-icons .social-square a {
	margin-right:5px;
}
.size-info{
	display:inline-block;
	font-weight:700;
	margin-left:15px;
}
.colors {
	float:left;
	width:100%;
	margin:40px 0 30px;
}
.shirt-color {
	display:inline-block;
	float:left;
	font-weight:700;
	margin-right:10px;
}
.black-div {
	float:left;
	margin-left:10px;
	padding-bottom:10px;
}
.black-swatch {
	float:left;
	display:block;
	width:20px;
	height:20px;
	background:#000;
	border:2px solid #cfd1d7;
}

.blue-swatch {
	float:left;
	display:block;
	width:20px;
	height:20px;
	background:#383cb2;
	border:2px solid #cfd1d7;
}

.violet-swatch {
	float:left;
	display:block;
	width:20px;
	height:20px;
	background:#282a51;
	border:2px solid #cfd1d7;
}
.black-div:hover, .swatch-current {
	background:url(/assets/swatch-indicator.png) no-repeat center bottom;
}
.black-div:hover a, .swatch-current a{
	border:2px solid #3c5eb3;
}
.dropdown-menu-link {
    background: url("/assets/bars.png") no-repeat scroll right 10px rgba(0, 0, 0, 0) !important;
    color: #FFFFFF !important;
    font-family: 'AllerBold';
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: -5px;
    padding-bottom: 0 !important;
    padding-right: 60px !important;
    text-transform: uppercase;
}
.dropdown-menu-link:hover {
	color:#fff;
	background:url(/assets/bars.png) no-repeat right 10px transparent !important;
}
.dropdown-menu02 li a:hover > .dropdown-menu-link{
	background:url(/assets/bars.png) no-repeat right 10px transparent !important;
}
.dropdown-menu02 {
	padding:20px 10px !important;
	top:52px;
	right:0;
}
.dropdown-menu02 li a, .dropdown-menu02 li a:hover {
	color:#428BCA !important;
	padding:5px 10px;
}
.navbar-collapse {
	border-top:none;
}
.product-price {
	font-family: 'AllerBold';
	display:inline-block;
	color:#fff;
	padding:12px 10px;
	font-size:26px;
	position:absolute;
	background:#1abc9c;
	right:0;
	margin-top:-20px;
}
.front-back {
	color:#2d4154;
	font-family: 'AllerBold';
	display:block;
	text-align:center;
	font-size:18px;
}
.front-back a {
	color:#2d4154;
}
.fraction {
	color:#2d4154;
	font-family: 'AllerBold';
	font-size:22px;
	display:block;
	text-align:center;
}
.pre-ordered {
	color:#2d4154;
	font-family: 'AllerBold';
	font-size:18px;
	display:block;
	text-align:center;
}
.contact-number {
	color:#fff;
	margin-left:45%;
	display:inline-block;
	margin-top:5px;
}
.contact-number02 {
	color:#fff;
	float:right;
	display:inline-block;
	margin-top:5px;
}
.counter {
  background: #2C2C2C;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
  min-height: 150px;
  text-align: center;
}

.counter h3 {
  color: #E5E5E5;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 30px;
}

#countdown {
  color: #FFFFFF;
}

#countdown span {
  color: #E5E5E5;
  font-size: 26px;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.form-control {
    margin: 0 !important;
}
.form-horizontal {
	margin-top:20px;
}

/* Product Order Page */

.product-form input, .product-form select {
	margin-bottom:0px;
	max-width:450px;
	width:100%;
}

.product-form #s2id_e3 {
	margin-bottom:0px;
	width:280px !important;
}

.expiry-date {
	color:#2c3e50;
	display:block;
	font-size:15px;
	margin:15px 0 10px 0;
}

.product-form .month {
	width:60px;
}

.product-form .year {
	width:80px;
}

.slash {
	font-weight:400;
	font-size:20px;
}

.product-order-summary {
	background:#ededf0;
	padding:15px;
	margin:20px 0;
	max-width:420px;
	width:100%;
}
.product-order-summary .col-md-12{
	padding:0px !important;
}
.product-order-summary p {
	color:#2d4154;
	font-size:16px;
}

.product-order-summary p span {
	float:right;
}

.order-summary-title {
	font-family: 'AllerBold';
	font-size:21px;
	margin:0 0 10px;
	padding:0;
	color:#2d4154;
	line-height:normal;
	display:block;
}
.order-product-total {
	border-top:2px solid #2d4154;
	padding-top:15px;
}

.total-summary {
	font-size:22px;
}

.product-order-testimonial {
	margin:20px 0;
	max-width:420px;
	width:100%;
}

.summary-testi-author {
	font-size:16px;
	font-weight:700;
	display:block;
	margin-top:12px;
}

.product-order-testimonial cite {
	font-size:13px;
}

.how-long {
	color:#2d4154;
	font-size:16px;
	font-weight:700;
	margin-bottom:10px;
	display:block;
	margin-top:10px;
}
.how-answer {
	color:#2d4154;
}

.product-form .place-your-order {
	background:#43d17f;
	color:#fff;
	width:100%;
	max-width:220px;
	border-radius:5px;
	border:none;
	font-family: 'AllerBold';
	font-size:20px;
	font-weight:700;
	text-align:center;
	padding:12px 0;
	margin:20px 0;
	box-shadow:0px -3px 0px #39b26c inset;
	letter-spacing:1px;
}

.product-form .place-your-order:hover, .product-form .place-your-order:focus {
	box-shadow:none;
}

.x-date input{
	margin-top:2px;
}


/* POP-UP STYLES */

#sizestyle-wrap .spacer{
	height:10px;
	clear:both;
}
#sizestyle-wrap{
	margin:200px auto;
}
.modal-header{
	font-family: 'OpenSansSemiboldItalic';
	background:#2e4054;
	color:#fff;
	font-size:24px;
	padding:20px 15px;
	margin:0 0 12px 0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.x-btn{
	float:right;
}
.popup-gray-bg{
	background:#edeef0;
}
.popup-gray-bg span{
	font-size:15.06px;
	color:#7f7f7f;
	font-family: 'Open Sans', sans-serif;
	padding:10px 0;
	display:block;
}

.modal-body .content select, .modal-body .content input{
	padding:7px;
	margin-top:10px;
	border:1px solid #babec4;
	max-width:100%;
	font-size:13px;
	color:#323232;
	font-family: 'Open Sans', sans-serif;
	border-radius:0px;
}

.single-price p{
	margin-top:17px;
	font-family: 'Open Sans', sans-serif;
}
.red-x img{
	margin-top:24px;
}

.modal-title {
	font-family: 'OpenSansSemiboldItalic';
	font-size:24px;
}

.modal-header {
	margin-bottom:0px;
}


.btn-sm-custom-pop {
	background:#2ecc71;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-size:18px;
	font-family: 'AllerBold';
	padding:12px 0;
	box-shadow:0 -2px 0 #27ae60 inset;
	width:90%;
	margin-bottom:20px;
}


.btn-sm-custom-pop02 {
	background:#296192;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-size:18px;
	font-family: 'AllerBold';
	padding:12px 0;
	box-shadow:0 -2px 0 #1d4868 inset;
	width:90%;
	margin-bottom:20px;
}

.btn-sm-custom-pop:hover, .btn-sm-custom-pop02:hover, .btn-sm-custom-pop03:hover {
	color:#fff;
	text-decoration:none;
	box-shadow:none;
}

.btn-sm-custom-pop03 {
	background:#8e929b;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-size:16px;
	font-family: 'AllerBold';
	padding:6px 0;
	box-shadow:0 -2px 0 #74797f inset;
	width:30%;
	margin-bottom:20px;
}

.modal-body {
	padding-top:0px;
	padding-bottom:0px;
}

.close {
	color:#fff;
}


/* POP-UP STYLES */



/************************************************************************ IPAD AND TABLETS ************************************************/

@media only screen and (min-width:481px) and (max-width:768px){
.contact-number {
	color:#fff;
	margin-left:0%;
	display:inline-block;
	margin-top:15px;
}
.navbar  {
	float:none;
}

.dropdown-menu-link {
	float:right;
	margin-top:-30px;
}
.dropdown-menu02 {
	top:25px;
	right:0;
}
.dropdown-menu02 li a, .dropdown-menu02 li a:hover {
	color:#428BCA !important;
}
.navbar-header {
	margin-top:10px;
}
.navbar-header .brand{
	background: url("/assets/bars.png") no-repeat scroll right 0px rgba(0, 0, 0, 0) !important;
    color: #FFFFFF !important;
    font-family: 'AllerBold';
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 0 !important;
    padding-right: 60px !important;
    text-transform: uppercase;
}
.navbar-default .navbar-toggle {
	border:none;
	padding:20px 22px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background:none;
}
h2 {
	padding-left:20px;
}
}

/************************************************************************ MOBILE LANDSCAPE************************************************/

@media only screen and (max-width:480px) {
.contact-number {
	color:#fff;
	margin-left:0%;
	display:inline-block;
	margin-top:15px;
	width:50%;
}
.thanks-info {
	text-align:center;
}
h2 {
	padding-left:20px;
}
.client-details {
	width:90.5%;
}
.navbar-header .brand{
	background: url("/assets/bars.png") no-repeat scroll right 0px rgba(0, 0, 0, 0) !important;
    color: #FFFFFF !important;
    font-family: 'AllerBold';
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 0 !important;
    padding-right: 60px !important;
    text-transform: uppercase;
}
.navbar-default .navbar-toggle {
	border:none;
	padding:20px 22px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background:none;
}

.navbar-header {
	margin-top:10px;
}
.navbar-header .brand{
	color: #FFFFFF !important;
    font-family: 'AllerBold';
    margin-bottom: 0 !important;
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 0 !important;
    text-transform: uppercase;
}
.dropdown-menu03 li a {
    color: #fff !important;
}
.dropdown-menu-link {
	float:right;
	margin-top:-45px;
}
.dropdown-menu02 {
	top:25px;
	right:0;
}
.dropdown-menu02 li a, .dropdown-menu02 li a:hover {
	color:#428BCA !important;
}
.guarantee, .guarantee-wrap, .copyright {
	text-align:center;
	display:block;
}

.price, #dp2, #s2id_e1, #s2id_e2, .bootstrap-switch, .save, #s2id_e4, .btn-big-custom, .progress, .btn-sm-custom{
	width:100% !important;
}
#s2id_e1 {
	margin:20px 0;
}
.navbar  {
	float:none;
}
.footer-icons {
	float:none;
	margin:20px 0;
	text-align:center;
}
.contact-number02 {
	float:none;
	margin-top:20px;
}

}

/************************************************************************ SMARTPHONES ************************************************/

@media only screen and (max-width : 320px) {

#my-count-down {
    margin-left: -15px;
	width:225px !important;
	height:50px !important;
}

.county-days-wrapper, .county-hours-wrapper, .county-minutes-wrapper, .county-seconds-wrapper
{
    overflow: hidden !important;
    position: relative !important;
    display: inline-block !important;
	width:30px !important;
}
.county-label-hours{
	width:45px !important;
}
.county > span
{
	width:30px !important;
}

.contact-number02 {
	float:none;
	margin-top:20px;
}

}


/******************************** checkout ******************************/
.check-out input[type="text"], .check-out select{
	padding: 0;
	height: 30px;
	width: 32px;
	border-radius: 0;
	margin: 5px 0;
}

.txtbox-error {
	border: 1px solid red !important;
}

/****************************** pages ************************************/
.para-wrap {
	margin-bottom: 20px;
}

.page-list {
	list-style-type: lower-alpha;
	margin: 5px 0;
}
/*.close {
	position: absolute;
	right: -10px;
	top: -10px;
}
.close:hover {
	opacity: 0.6 !important;
}*/