!!!
%html{:'ng-app' => "JobTees"}
  %head
    %title AdminTees - Admin
    = include_gon
    %link{href: "//fonts.googleapis.com/css?family=Open+Sans:400,700", rel: "stylesheet", type: "text/css"}
    %link{href: "//fonts.googleapis.com/css?family=Lato:400,300,700", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags
    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}
  %body
    #header-wrapper{ng: {controller: "HeaderController"}}
      .container
        .row
          .col-md-2
            %a{href: "/admin/#/home"}
              %img{src: "/assets/logo.png", alt: "Job Tees"}

          .col-md-10
            .navbar.navbar-default{role: "navigation"}
              .navbar-header
                %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#bs-example-navbar-collapse-1"}}
                %a.brand.visible-xs{href: "#"} Menu

              .collapse.navbar-collapse#bs-example-navbar-collapse-1
                %ul.nav.navbar-nav
                  %li
                    %a{href: "/admin/#home"} HOME
                  %li
                    %a{href: "/admin/#products"} PRODUCTS
                  %li
                    %a{href: "/admin/#product_types"} TYPES
                  %li
                    %a{href: "/admin/#statistics"} STATS
                  %li
                    %a{href: "/admin/#/v2/orders"} ORDERS
                  %li
                    %a{href: "/admin/#customers"} CUSTOMERS
                  %li
                    %a{href: "/admin/#newexports"} EXPORTS


                  %li.dropdown.notification-icon{ng: {show: "notifications.length > 0"}}
                    %a.dropdown-toggle.circle.col-md-1#dropdownMenu1{href: "javascript:;",data: {toggle: "modal"}, ng: {click: "showNotifications()"}}
                      %i.glyphicon.glyphicon-comment

                  %li.dropdown.navbar-right
                    %a.dropdown-toggle#dropdownMenu2{data: {toggle: "dropdown"}, href: "javascript:void();"}
                      %span.author
                        %img{src: "/assets/author02.png", alt: "Author"}
                      {{admin.email}}
                      %b.caret

                    %ul.dropdown-menu.dropdown-menu03{aria: {labelledby: "dropdownMenu2"}}

                      %li
                        %a{href: "/admin/#coupons"} Coupons
                      %li
                        %a{href: "/admin/#giftcards"} Gift Cards
                      %li
                        %a{href: "/admin/#ratings"} RATINGS
                      %li
                        %a{href: "/admin/#abandonment"} abandonments
                      %li
                        %a{href: "/admin/csvimports/shipment", target: "_blank"} Shipping
                      %li
                        %a{href: "/admin/csvimports/v2/shipment", target: "_blank"} Shipping V2
                      %li
                        %a{href: "/admin/#orders"} Orders V1
                      %li
                        %a{href: "/admin/#profile"} Profile
                      %li
                        %a{href: "/admin/#settings"} Settings

                      %li
                        = link_to 'Logout', destroy_admin_session_path, :method => :delete
      .modal.fade#notificationsModel{role: "dialog", aria: {labelledby: "notificationsModelLabel", hidden: true}}
        .modal-dialog
          .modal-content
            .modal-header
              %button{type: "button", class: "close", data: {dismiss: "modal"}}>
                %span{aria: {hidden: "true"}} &times;
                %span.sr-only Close
              %h3.modal-title Notifications
            .modal-body
              %ul{ng: {repeat: "notification in notifications"}}
                %li {{notification.message}}

            .modal-footer
              .pull-left Click "Close" button to clear notifications
              %button.btn.btn-default{type: "button", data: {dismiss: "modal"}, ng: {click: "hideNotifications()"}} Close
    #content-wrapper
      = yield

    #footer-wrapper
      .container
        .row
          .col-md-12.text-center
            %span.copyright &#169;2014 JobTees
        .clearfix