!!!
%html{:'ng-app' => "JobTees"}
  %head
    %title= @product.blank? ? "AdminTees" : "#{@product.title}"
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "//fonts.googleapis.com/css?family=Open+Sans:400,700", rel: "stylesheet", type: "text/css"}
    %link{href: "//fonts.googleapis.com/css?family=Lato:400,300,700", rel: "stylesheet", type: "text/css"}
    = include_gon
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}
    - if controller.controller_name == 'orders' && controller.action_name == 'show'
      = fb_conversion_js

    = ga_js
    = perfectaudience_js

  %body{style: "#{@style ? @style : ''}"}
    #header-wrapper


      .container
        .row
          .col-md-3
            = link_to root_path, :title => "home" do
              = image_tag "logo.png"
          .col-md-9
            / - if controller_name != "home"
            %span.contact-number02
              Question? Speak To Us (02) 8006 2297
            / - else
            /   %nav.navbar.navbar-default{role: "navigation"}
            /     %ul.nav
            /       %li.dropdown
            /         %a.dropdown-toggle.dropdown-menu-link{href: "#", data: {toggle: "dropdown"}}
            /           Menu
            /         %ul.dropdown-menu.dropdown-menu02
            /           %li
            /             = link_to "menu1", "#"
            /           %li
            /             = link_to "menu2", "#"
            /           %li
            /             = link_to "menu3", "#"
            /           %li
            /             = link_to "menu4", "#"

    = yield

    #footer-wrapper
      .container
        .row
          .col-md-6
            %span.copyright
              &#169;2014 JobTees
              = link_to "Privacy Policy", "/privacy-policy"
              = link_to "Terms of Service", "/terms-of-service"

          .col-md-6
            .footer-icons
              = link_to fb_share(request.url), {target: "_blank"} do
                = image_tag "fb-icon.png"
              = link_to gplus_share(request.url), {target: "_blank"} do
                = image_tag "gplus-icon.png"
              = link_to twitter_share(request.url), {target: "_blank"} do
                = image_tag "twitter-icon.png"

        .clearfix
    - if controller_name == "products" && action_name == "show"
      = socail_smart_layer

    - if controller_name == "home"
      = recommend4u_js
      = socail_smart_layer

    = olark_js
