!!!
%html{:'ng-app' => "JobTees"}
  %head
    %title AdminTees - Dashboard
    = include_gon
    / %link{href: "//fonts.googleapis.com/css?family=Open+Sans:400,700", rel: "stylesheet", type: "text/css"}
    / %link{href: "//fonts.googleapis.com/css?family=Lato:400,300,700", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "dashboard"
    = csrf_meta_tags
    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}
  %body
    #header-wrapper{ng: {controller: "HeaderController"}}
      .container
        .row
          .col-md-3
            %a{href: "/dashboard/#/home"}
              %img{src: "/assets/logo.png", alt: "Job Tees"}

          .col-md-9
            .navbar.navbar-default{role: "navigation"}
              .navbar-header
                %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#bs-example-navbar-collapse-1"}}
                %a.brand.visible-xs{href: "#"} Menu

              .collapse.navbar-collapse#bs-example-navbar-collapse-1
                %ul.nav.navbar-nav
                  %li
                    %a{href: "/dashboard/#/home"} HOME
                  %li
                    %a{href: "/dashboard/#/orders"} ORDERS

                  %li.dropdown.navbar-right
                    %a.dropdown-toggle{data: {toggle: "dropdown"}}
                      %span.author
                        %img{src: "#{current_user.avatar.url(:thumb)}", alt: "Author", width: "31", height: "31"}
                      Hi, {{user.first_name}}
                      %b.caret

                    %ul.dropdown-menu.dropdown-menu03
                      %li
                        %a{href: "/dashboard/#/profile"} Profile
                      %li
                        = link_to 'Logout', destroy_user_session_path, :method => :delete

    #content-wrapper
      = yield

    #footer-wrapper
      .container
        .row
          .col-md-12.text-center
            %span.copyright &#169;2014 JobTees
        .clearfix

    = olark_js