!!!
%html
  %head
    %title Admintees
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}


    = stylesheet_link_tag    "application", :media => "all"

    :css
      #line_items {
        page-break-before: always;
      }
      table
      {
      border-collapse:collapse;
      width:100%;
      margin:10px 0;
      font-size: 12px;
      }
      table, th, td
      {
      border: 1px solid black;
      padding:5px;
      }
      td { vertical-align: middle; }
    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}


  %body{style: "#{@style ? @style : ''}"}


    = yield

